.quality-content.js-quality
	.quality-wrap
		.quality
			img(src="images/quality3.svg", alt="")
			.quality-open
				.award
					.award__img
							img(src="images/quality3.svg", alt="")
					p.award__descr Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"
		.quality
			img(src="images/quality1.svg", alt="")
			.quality-open
				.award
					.award__img
						img(src="images/quality1.svg", alt="")
					p.award__descr Препарат выбора для лечения простуды и гриппа по версии премии "Зеленый крест — 2019"
		.quality
			img(src="images/quality2.svg", alt="")
			.quality-open
				.award
					.award__img
							img(src="images/quality2.svg", alt="")
					p.award__descr Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"
	button(type="button").to-bottom.scroll-link
		span Скрольте вниз
		img(src="images/tobottom.svg", alt="")