.quality-content {
    transition: all 0.5s ease;

    &.hide {
        opacity: 0;
    }

    .to-bottom,
    .quality-wrap {
        display: none !important;

        @media screen and (min-width: 1200px) {
            position: fixed;
            display: flex !important;
            flex-direction: column;
            z-index: 5;
        }
    }

    .quality {
        margin-top: 20px;
        position: relative;
        cursor: pointer;

        @media screen and (min-width: 1200px) {
            width: 70px;
        }

        img {
            width: 100%;
        }

        &:hover {
            @media screen and (min-width: 1200px) {
                .quality-open {
                    z-index: 1;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .quality-open {
        position: absolute;
        background-color: $white;
        top: 50%;
        transform: translateY(-50%);
        left: -500px;
        width: 460px;
        padding: 20px;
        border-radius: 10px;
        transition: all .5s ease;
        opacity: 0;
        z-index: -10;
        box-shadow: 0px 10px 60px #CFD2DB;
        visibility: hidden;

        &:before {
            position: absolute;
            content: "";
            border: 20px solid transparent;
            border-left: 20px solid $white;
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
        }

        .award {
            width: 100%;
        }
    }

    .to-bottom {
        left: 0;
        bottom: 40px;
        display: flex;
    }

    .quality-wrap {
        right: 40px;
        bottom: 40px;
    }
}