.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;

    &.active {
        display: block;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    padding: 15px;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 30px);
    height: auto;
    max-width: 750px;
    width: 100%;
    display: none;

    &.active {
        display: block;
    }

    &__wrap {
        width: 100%;
        background-color: $white;
        padding: 20px 10px;
        position: relative;
        border-radius: 6px;

        @media screen and (min-width: 375px) {
            padding: 20px;
        }

        @media screen and (min-width: 768px) {
            padding: 60px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: $text-color;
        margin-bottom: 40px;
    }

    &__close {
        transition: all 0.3s ease;
        cursor: pointer;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 22px;
        right: 20px;
        @include bg-img-center;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='14.2' stroke='%237A84A9' stroke-width='1.6'/%3E%3Cline x1='20.4805' y1='9.87312' x2='9.87394' y2='20.4797' stroke='%237A84A9' stroke-width='2'/%3E%3Cline x1='20.1269' y1='20.4805' x2='9.52028' y2='9.87394' stroke='%237A84A9' stroke-width='2'/%3E%3C/svg%3E%0A");

        &:hover {
            transform: rotate(90deg);
        }
    }

    &__text {
        text-align: center;
    }

    &__nav {
        margin-top: 60px;
        display: flex;
        justify-content: center;

        .btn {
            width: 120px;
            min-width: 120px;
            margin: 0 10px;

            @media screen and (min-width: 768px) {
                width: 160px;
                margin: 0 20px;
            }
        }
    }

    &__accept-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #191919;

        @media screen and (min-width: 768px) {
            font-size: 36px;
            white-space: nowrap;
        }
    }
}

.main-form {
    width: 100%;

    &__wrap {
        width: 100%;
    }

    &__input-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: 768px) {
            margin-bottom: 30px;
            justify-content: space-between;
            flex-direction: row;
        }

        .main-form__field {
            width: 100%;
            margin-bottom: 15px;

            @media screen and (min-width: 768px) {
                width: calc(50% - 10px);
                margin-bottom: 0;
            }
        }
    }

    &__input {
        width: 100%;
        border: 1px solid $input-border;
        border-radius: 6px;
        font-size: 13px;
        color: $black;
        padding: 10px;

        &::placeholder {
            color: $link-color;
        }

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
    }

    &__field {
        width: 100%;

        &_text {
            margin-bottom: 30px;

            @media screen and (min-width: 768px) {
                margin-bottom: 50px;
            }
        }
    }

    &__textarea {
        width: 100%;
        border: 1px solid $input-border;
        border-radius: 6px;
        font-size: 13px;
        color: $black;
        padding: 10px;
        min-height: 160px;
        resize: none;

        &::placeholder {
            color: $link-color;
        }

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
    }

    &__bottom-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__code-wrap {
        display: flex;
        justify-content: space-between;
    }

    &__code {
        border: 1px solid $input-border;
        border-radius: 6px;
        height: 40px;
        width: 120px;
        position: relative;
        margin-bottom: 40px;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (min-width: 375px) {
            width: 140px;
        }

        @media screen and (min-width: 768px) {
            width: 160px;
            margin-bottom: 0;
        }
    }

    &__code-input {
        width: 120px;
        margin-left: 20px;

        @media screen and (min-width: 375px) {
            width: 140px;
        }

        @media screen and (min-width: 768px) {
            width: 160px;
        }
    }

    &__refresh {
        position: absolute;
        left: 0;
        bottom: -25px;
        font-weight: 600;
        font-size: 12px;
        color: $link-color;
        padding-right: 17px;

        &:hover {
            text-decoration: underline;

            &:before {
                transform: translateY(-50%) rotate(180deg);
            }
        }

        &:before {
            transition: all 0.5s ease;
            position: absolute;
            content: "";
            width: 12px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            height: 12px;
            @include bg-img-center;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9996 5.91946C11.9971 5.64519 11.7718 5.4248 11.5 5.4248C11.4976 5.4248 11.4951 5.4248 11.4927 5.4248C11.216 5.42725 10.9956 5.65499 10.998 5.9317C11.0249 8.14052 9.56791 10.1339 7.45214 10.7754C5.47351 11.3754 3.31856 10.675 2.05987 9.06862L3.77893 9.30126C4.0532 9.33799 4.30543 9.14698 4.34216 8.87272C4.37889 8.59845 4.18788 8.34622 3.91362 8.30949L1.05097 7.92258C0.818329 7.89809 0.541614 8.01319 0.48774 8.35112L0.103277 11.2089C0.0665454 11.4831 0.257552 11.7354 0.531818 11.7721C0.553858 11.7746 0.575897 11.777 0.600385 11.777C0.847714 11.777 1.06076 11.5958 1.09504 11.3436L1.31299 9.7347C2.46148 11.1721 4.21482 11.99 6.02204 11.99C6.59751 11.99 7.17788 11.9068 7.746 11.7354C10.283 10.964 12.0314 8.57151 11.9996 5.91946Z' fill='%237A84A9'/%3E%3Cpath d='M0.499984 6.5586C0.502433 6.5586 0.504882 6.5586 0.50733 6.5586C0.784045 6.55615 1.00444 6.32841 1.00199 6.05414C0.975052 3.84287 2.43209 1.85199 4.54786 1.21041C6.50445 0.617795 8.63736 1.29611 9.90095 2.86825L8.21617 2.64051C7.9419 2.60133 7.68968 2.79478 7.65294 3.06905C7.61621 3.34332 7.80722 3.59554 8.08148 3.63227L10.9441 4.02163C11.3457 4.05347 11.4951 3.74492 11.5074 3.59309L11.8943 0.735338C11.931 0.461072 11.74 0.208845 11.4657 0.172113C11.1915 0.13783 10.9392 0.326388 10.9025 0.600654L10.6797 2.2438C9.16386 0.358222 6.6073 -0.45723 4.25645 0.255372C1.71704 1.02185 -0.0314068 3.41433 0.000427651 6.06639C0.00532526 6.34065 0.228167 6.5586 0.499984 6.5586Z' fill='%237A84A9'/%3E%3C/svg%3E%0A");
        }
    }

    .btn {
        margin-top: 20px;

        @media screen and (min-width: 768px) {
            margin: 0 0 0 auto;
            padding: 12px 10px;
        }
    }
}