.section-advantages {
	padding: 40px 0 25px;

	@media screen and (min-width: 1024px) {
		padding: 100px 0;
	}

	.section-title {
		margin-bottom: 60px;
	}
}

.advantages-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -18px;
}

.advantages {
	width: 50%;
	padding: 0 18px;
	margin-bottom: 35px;

	@media screen and (min-width: 768px) {
		width: 33.33%;
	}

	@media screen and (min-width: 1024px) {
		width: 25%;
	}

	&__wrap {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__img {
		width: 90px;
		height: 90px;
		margin-bottom: 30px;
		border-radius: 50%;
		overflow: hidden;
		@media screen and (min-width: 768px) {
			width: 120px;
		height: 120px;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		max-width: 210px;
		font-weight: 500;
		font-size: 12px;
		line-height: 143%;
		text-align: center;
		color: $text-color;

		@media screen and (min-width: 768px) {
			font-size: 14px;
		}
	}
}
