section.section-advantages#advantages
	.container
		h2.section-title.section-title_line Преимущества препарата
		.advantages-wrap
			.advantages-row
				.advantages
					.advantages__wrap
						.advantages__img
							img(src="images/advantages1.png", alt="")
						h3.advantages__title Уменьшает выраженность ночного кашля
				.advantages
					.advantages__wrap
						.advantages__img
							img(src="images/advantages2.png", alt="")
						h3.advantages__title Снижает интенсивность и длительность дневного кашля
				.advantages
					.advantages__wrap
						.advantages__img
							img(src="images/advantages3.png", alt="")
						h3.advantages__title Снимает воспаление в дыхательных путях
			.advantages-row
				.advantages
					.advantages__wrap
						.advantages__img
							img(src="images/advantages3.png", alt="")
						h3.advantages__title Снимает воспаление в дыхательных путях
				.advantages
					.advantages__wrap
						.advantages__img
							img(src="images/advantages4.png", alt="")
						h3.advantages__title Устраняет отечность слизистых дыхательных путей
			
					
					