.instruct-section {
  padding: 40px 0;
  @media screen and (min-width: 1024px) {
    padding: 80px 0;
  }

  .section-title {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }
  }

  .btn {
    margin: 30px 0 0;
    @media screen and (min-width: 1024px) {
      margin: 60px 0 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}