.nature-section {
	padding: 60px 0 0;
	background-color: $footer-bg;
	@media screen and (min-width: 768px) {
		padding: 80px 0 0;
	}
	@media screen and (min-width: 1024px) {
		padding: 100px 0 0;
	}
	
}
