section.nature-section
	.container
		.description-content
			.description-info
				h2.section-title О природе кашля
				p.section-descr.section-descr_medium Кашель, как симптом болезни, является естественной реакцией на раздражение рецепторов, расположенных в дыхательных путях, которую человек не контролирует. Физиологическое значение кашля — освобождение дыхательных путей от инородных частиц и устранение механических препятствий току воздуха
				a(href="#").btn.secondary подробнее
			.description-img
				img(src="images/nature-img.png", alt="")