.award-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -18px 20px;
}

.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 18px;
    margin-bottom: 50px;
    @media screen and (min-width: 1024px) {
        width: 40%;
        margin-bottom: 0;
        flex-direction: row;
    }
    &:last-child {
        margin-bottom: 0;
    }

    &__img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        flex: none;
        @media screen and (min-width: 1024px) {
            margin: 0 20px 0 0;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__descr {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: $text-color;
    }
}
