.mechanism-section {
    padding: 50px 0 40px;
    background-color: $footer-bg;

    @media screen and (min-width: 768px) {
        padding: 100px 0 80px;
    }

    @media screen and (min-width: 1024px) {
        padding: 100px 0;
    }

    .section-title {
        margin-bottom: 60px;
        text-align: center;
    }
}

.mechanism-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -18px;
}

.mechanism {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #c4c9da;
    margin-bottom: 40px;
    padding: 0 18px 30px;

    @media screen and (min-width: 1024px) {
        border-right: 1px solid #c4c9da;
        width: 50%;
        border-bottom: none;
        padding: 0 18px;
        margin-bottom: 0;
    }

    &:last-child {
        border: none;
        margin-bottom: 0;
    }

    &__title-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title-img {
        width: 60px;
        height: auto;
        margin-bottom: 10px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: $text-color;
        margin-bottom: 18px;

        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }

    &__sub-title {
        position: relative;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 87%;
            height: 1px;
            border-bottom: 1px dashed $text-color;
        }

        span {
            color: $btn-color;
        }
    }

    &__bracket {
        max-width: 415px;
        height: auto;
        margin-bottom: 28px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__anti-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__anti {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__anti-img {
        width: 100px;
        height: 100px;
        margin-bottom: 30px;
        border-radius: 50%;
        overflow: hidden;

        @media screen and (min-width: 768px) {
            width: 120px;
            height: 120px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__anti-title {
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        color: $text-color;
        min-height: 40px;
        margin-bottom: 10px;
        position: relative;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            margin-bottom: 30px;
        }

        &_abs {
            position: relative;
            max-width: 550px;
            width: 100%;
            min-width: 320px;
            left: 60%;

            @media screen and (min-width: 1024px) {
                left: 55%;
                min-width: 550px;
            }
        }
    }

    &__anti-descr {
        font-weight: 500;
        max-width: 270px;
        width: 100%;
        font-size: 12px;
        line-height: 176%;
        text-align: center;
        color: $link-color;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
    }
}

.mechanism__anti:nth-child(2) {
    .info-abs {
        @media screen and (max-width: 1024px) {
            left: auto !important;
            right: 0 !important;
        }

        &:before {
            @media screen and (max-width: 1024px) {
                left: auto !important;
                right: 60px !important;
            }
        }
    }
}

.mechanism:nth-child(2) {
    .info-abs {
        &:before {
            @media screen and (min-width: 1024px) {
                left: 130px;
            }
        }
    }
}

.info-abs {
    position: absolute;
    left: 0;
    top: 60px;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px #D1D4DE;
    border-radius: 20px;
    width: 290px;
    max-width: 550px;
    padding: 0 15px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;

    @media screen and (min-width: 768px) {
        width: 550px;
    }

    &.active {
        top: 50px;
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    &:before {
        content: '';
        position: absolute;
        top: -32px;
        left: 30px;
        border: 20px solid transparent;
        border-bottom: 20px solid $white;
        z-index: -1;
    }

    &__wrap {
        padding: 15px;

        @media screen and (min-width: 768px) {
            padding: 30px 45px;
        }
    }

    ul {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        &:before {
            content: '*';
            position: absolute;
            top: 3px;
            left: -10px;
            font-size: 12px;
            color: $btn-color;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        font-size: 12px;
        line-height: 1.3;
        color: #7A84A9;
        text-align: left;
        font-weight: 400;
    }
}