.manual-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -18px;
}

.manual {
    width: 100%;
    padding: 0 18px 10px;
    @media screen and (min-width: 768px) {
        width: 50%;
    }

    &__wrap {
        padding: 20px;
        background: $white;
        box-shadow: 0px 2px 6px rgba(207, 210, 219, 0.5);
        border-radius: 6px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: all 0.3s ease;
        @media screen and (min-width: 768px) {
            padding: 60px;
        }
        &:hover {
            box-shadow: 0px 20px 60px #d1d4de;
            cursor: pointer;
        }
    }

    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: $black;
        max-width: 330px;
        margin-bottom: 30px;
    }

    &__img {
        width: 170px;
        height: auto;
        margin-bottom: 25px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__download {
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1.6px;
        border-bottom: 1px solid transparent;
        text-transform: uppercase;
        color: $black;
        &:hover {
            border-color: $btn-color;
            color: $btn-color;
        }
    }
}
