$breakpoints: (
	'xl': 1920px,
	'lg': 1280px,
	'md': 768px,
	'sm': 480px,
	'xs': 460px,
);

$white: #FFFFFF;
$black: #000000;
$dark: #212121;
$text-color: #191919;
$text-colorlight: #979797;
$btn-color: #ffc80a;
$hover-text: #008996;
$bg-about: #DEE6E8;
$card-bg: #F3F4F5;
$bg-color: #8F76BC;
$border-color: #68C1D4;
$bg-card-blue: #93B6B7;
$btntext-color: #57B9BB;
$point-bg: #0CB6CD;
$scheme-bgcard: #88D4D6;
$aplication-bg: #FBB050;
$inst-bg: #F4A743;
$input-border: #CED2DD;

$btn-color: #FF0000;
$footer-bg: #F6F7FA;
$link-color: #7A84A9;
$bottom-bg: #EDEFF5;
$tab-color:  #61646D;

$base-transition: all .3s ease;