.btn {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  color: $text-color;
  border: 1.5px solid $btn-color;
  border-radius: 20px;
  padding: 13px 10px 11px;

  a {
    color: $text-color;
  }

  &.primary {
    background: $btn-color;
    color: $white;
    min-width: 150px;
    padding: 7px 10px;

    @media screen and (min-width: 768px) {
      min-width: 180px;
    }

    &:hover {
      background-color: transparent;
      color: $text-color;
    }
  }

  &.secondary {
    background-color: transparent;
    color: $text-color;
    min-width: 150px;
    padding: 7px 10px;

    @media screen and (min-width: 768px) {
      min-width: 200px;
      padding: 12px 10px;
    }

    &:hover {
      background: $btn-color;
      color: $white;

      a {
        color: $white;
      }
    }
  }
}

.to-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  animation-name: bounce;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  span {
    display: none;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $text-color;
    transform: rotate(-90deg);
    margin-bottom: 65px;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  img {
    width: 40px;

    @media screen and (min-width: 768px) {
      width: 50px;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.download-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 3px;
  color: $btntext-color;
  margin-top: 50px;
  border-bottom: 1px solid $btntext-color;

  &:hover {
    border-bottom: 1px solid transparent;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 60px;
  }
}

.expert-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 3px;
  color: $btntext-color;
  position: relative;
  padding-right: 15px;

  &:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 9px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-image: url("../images/arr-r.svg");
  }

  &:hover {
    &:after {
      right: -5px;
    }
  }
}