section.application-section
	.container
		h2.section-title.center Способ применения и дозы
	.application-wrap
		.application.js-tabs
			ul.application__list.js-tab-btn
				li.application__item.active Таблетки
				li.application__item Раствор
			.application__content.js-tab-content.active
					.dose-wrap
						.dose
							span.dose__time Утром
							.dose__img
								img(src="images/tabl.png", alt="")
						.dose-arrow
						.dose
							span.dose__time Днем
							.dose__img
								img(src="images/tabl.png", alt="")
						.dose-arrow
						.dose
							span.dose__time Вечером
							.dose__img
								img(src="images/tabl.png", alt="")
					.inst-section
						.container
							.inst-wrap
								.inst
									.inst__wrap
										.inst__img
											img(src="images/inst1.svg", alt="")
										p.inst__descr Держать во рту до растворения
								.inst
									.inst__wrap
										.inst__img
											img(src="images/inst2.svg", alt="")
										p.inst__descr Вне приема пищи
								.inst
									.inst__wrap
										.inst__img
											img(src="images/inst3.svg", alt="")
										p.inst__descr Длительность — до прекращения кашля
								.inst
									.inst__wrap
										.inst__img
											img(src="images/inst4.svg", alt="")
										p.inst__descr При тяжелом кашле кратность приема можно увеличить
			.application__content.solution.js-tab-content
				.dose-wrap
					.dose
						span.dose__time Утром
						.dose__img
							img(src="images/k1.png", alt="")
					.dose-arrow
					.dose
						span.dose__time Днем
						.dose__img
							img(src="images/k1.png", alt="")
					.dose-arrow
					.dose
						span.dose__time Вечером
						.dose__img
							img(src="images/k1.png", alt="")
				.inst-section
					.container
						.inst-wrap
							.inst
								.inst__wrap
									.inst__img
										img(src="images/int5.png", alt="")
									p.inst__descr Для приема внутрь
							.inst
								.inst__wrap
									.inst__img
										img(src="images/inst2.svg", alt="")
									p.inst__descr Вне приема пищи
							.inst
								.inst__wrap
									.inst__img
										img(src="images/int6.png", alt="")
									p.inst__descr В зависимости от тяжести кашля