.application-section {
  padding: 60px 0 0;
  background-color: $aplication-bg;

  @media screen and (min-width: 1024px) {
    padding: 100px 0 0;
  }

  .section-title {
    color: $white;
    text-align: center;
    margin-bottom: 36px;
  }
}

.application {
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 80px;
    }
  }

  &__item {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: $white;
    border: 1.5px solid $white;
    cursor: pointer;
    padding: 8px 20px;
    min-width: 160px;
    user-select: none;

    &:first-child {
      border-radius: 20px 0 0 20px;
    }

    &:last-child {
      border-radius: 0 20px 20px 0;
    }

    &.active {
      color: $aplication-bg;
      background-color: $white;
      pointer-events: none;
    }
  }

  &__content {
    display: none;

    &.solution {
      .dose__img {
        @media screen and (min-width: 1024px) {
          margin: -29px 0 0;
        }
      }
    }

    &.active {
      display: block;
    }
  }
}

.dose-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: center;
  }
}

.dose {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 50px;
  }

  &:nth-child(3) {
    @media screen and (min-width: 1200px) {
      position: relative;
      left: -7px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__time {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: $white;

    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
    }
  }

  &__img {
    width: 270px;

    img {
      width: 100%;
    }
  }
}

.dose-arrow {
  flex: none;
  position: relative;
  z-index: 2;
  width: 24px;
  height: 24px;
  background-color: $white;
  margin-bottom: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23FBB050' d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");

  @media screen and (min-width: 1024px) {
    transform: rotate(-90deg);
    top: -22px;
  }

  @media screen and (min-width: 1200px) {
    top: -31px;
    left: -7px;
  }

  &:after {
    content: '';
    position: absolute;
    left: calc(50% - 1px);
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100px;
    border-left: 2px dotted rgba(255, 255, 255, 0.5);
    z-index: -1;

    @media screen and (min-width: 1200px) {
      height: 300px;

    }
  }
}

.inst-section {
  padding: 40px 0 0;
  margin-top: 60px;
  background-color: $inst-bg;

  @media screen and (min-width: 768px) {
    padding: 65px 0 20px;
  }

  .inst-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
  }
}

.inst {
  width: 50%;
  padding: 0 10px;
  margin-bottom: 48px;

  @media screen and (min-width: 768px) {
    width: 22%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__descr {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: $white;
  }
}