.material-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -18px;
}

.material {
    width: 50%;
    padding: 18px;
    height: auto;

    &__wrap {
        width: 100%;
        background: $white;
        box-shadow: 0px 2px 6px rgba(207, 210, 219, 0.5);
        border-radius: 6px;
        border-top: 4px solid #7a84a9;
        height: 100%;
        transition: all 0.3s ease;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            border-color: $btn-color;
            filter: drop-shadow(0px 20px 60px #d1d4de);
        }
    }

    &__content {
        padding: 30px;
    }

    &__author {
        font-size: 14px;
        color: $link-color;
        margin-bottom: 15px;
    }

    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 139%;
        color: $black;
        margin-bottom: 75px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    &__img {
        width: 100%;
        height: 300px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__date {
        font-size: 14px;
        color: $link-color;
        padding-left: 26px;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            @include bg-img-center;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C3.58857 16 0 12.4114 0 8C0 3.58857 3.58857 0 8 0C12.4114 0 16 3.58857 16 8C16 12.4114 12.4114 16 8 16ZM7.99999 1.3342C4.32342 1.3342 1.33371 4.32391 1.33371 8.00048C1.33371 11.6771 4.32342 14.6668 7.99999 14.6668C11.6766 14.6668 14.6663 11.6771 14.6663 8.00048C14.6663 4.32391 11.6766 1.3342 7.99999 1.3342ZM10.6663 11.3342C10.496 11.3342 10.3257 11.2691 10.1954 11.1388L7.52913 8.47249C7.46742 8.41078 7.41828 8.33649 7.38513 8.25535C7.35085 8.17421 7.33371 8.08735 7.33371 8.00049V3.33421C7.33371 2.96621 7.63199 2.66678 7.99999 2.66678C8.36799 2.66678 8.66628 2.96621 8.66628 3.33421V7.72506L11.1383 10.1959C11.3988 10.4565 11.3988 10.8782 11.1383 11.1388C11.008 11.2691 10.8377 11.3342 10.6663 11.3342Z' fill='%237A84A9'/%3E%3C/svg%3E%0A");
        }
    }

    &__download {
        font-weight: 600;
        color: $link-color;
        padding-right: 22px;
        position: relative;
        &:before {
            transition: all 0.3s ease;
            position: absolute;
            content: "";
            width: 15px;
            height: 9px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            @include bg-img-center;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L7 7L1 1' stroke='%237A84A9' stroke-width='2'/%3E%3C/svg%3E%0A");
        }
        &:hover {
            color: $btn-color;
            &:before {
                transform: translateY(-10%);
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L7 7L1 1' stroke='%23FF0000' stroke-width='2'/%3E%3C/svg%3E%0A");
            }
        }
    }
}
