extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		section.none-section
			.container
				h2.section-title.section-title_line Произошла ошибка
				.error-img
					img(src="images/404error.svg", alt="")
				p.error-info Извините, такая страница не найдена, 
					br
					| предлагаем перейти на главную страницу или воспользоваться меню сайта.
				a(href="index.html").btn.secondary Перейти на главную

block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements
