extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.about-preparat-section
			.container
				.description-content
					.description-info
						h2.section-title О препарате
						p.section-descr Существенно сократить список необходимых лекарственных средств может помочь универсальный препарат Ренгалин, предназначенный для лечения сухого и влажного кашля для взрослых и детей с 3-х лет
						a(href="#").btn.primary Купить
					.description-img
						img(src="images/pack1.png", alt="")
				.advantages-wrap
					.advantages-row
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages1.png", alt="")
								h3.advantages__title Уменьшает выраженность ночного кашля
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages2.png", alt="")
								h3.advantages__title Снижает интенсивность и длительность дневного кашля
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages3.png", alt="")
								h3.advantages__title Снимает воспаление в дыхательных путях
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages4.png", alt="")
								h3.advantages__title Устраняет отечность слизистых дыхательных путей
					.advantages-row
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages1.png", alt="")
								h3.advantages__title Уменьшает выраженность ночного кашля
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages2.png", alt="")
								h3.advantages__title Снижает интенсивность и длительность дневного кашля
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages3.png", alt="")
								h3.advantages__title Снимает воспаление в дыхательных путях
		
		section.mechanism-section
			.container
				h2.section-title Механизм действия
				.mechanism-wrap
					.mechanism
						.mechanism__title-wrap
							.mechanism__title-img
								img(src="images/mechanism1.png", alt="")
							span.mechanism__title При сухом кашле
							.mechanism__bracket
								img(src="images/bracket.svg", alt="")
							.mechanism__anti-wrap
								.mechanism__anti
									.mechanism__anti-img
										img(src="images/i1.png", alt="")
									h3.mechanism__anti-title
										span.mechanism__sub-title.js-show-info Антитела
											span * 
										| к морфину

										.info-abs.js-info-abs
											.info-abs__wrap
												ul
													li Антитела к брадикинину аффинно очищенные 0,12 г
													li Антитела к гистамину аффинно очищенные 0,12 г
													li Антитела к морфину аффинно очищенные 0,12 г
													li (вводятся в виде смеси трех активных водных разведений субстанции, разведенной соответственно в 10012, 10030, 10050 раз. Вспомогательные вещества: гипромеллоза 1,0 г, мальтитол 6,0 г, глицерол 3,0 г, сорбат калия 0,165 г, лимонная кислота безводная 0,02 г, вода очищенная до 100 мл).
												ul
													li Антитела к брадикинину аффинно очищенные – 0,006 г
													li Антитела к гистамину аффинно очищенные – 0,006 г
													li Антитела к морфину аффинно очищенные – 0,006 г
													li (Вспомогательные вещества: изомальт 0,506 г, целлюлоза микрокристаллическая 0,0275 г, магния стеарат 0,0055 г, лимонная кислота безводная 0,005225 г, кремния диоксид коллоидный 0,00275 г, цикламат натрия 0,00275 г, сахарин натрия 0,000275 г. наносятся на изомальт в виде смеси трех активных водно-спиртовых разведений субстанции, разведенной соответственно в 10012, 10030, 10050 раз.)

									p.mechanism__anti-descr регулируют активность кашлевого центра
								.mechanism__anti
									.mechanism__anti-img
										img(src="images/i2.png", alt="")
									h3.mechanism__anti-title
										span.mechanism__sub-title.js-show-info Антитела
											span * 
										| к гистамину и брадикинину
										.info-abs.js-info-abs
											.info-abs__wrap
												ul
													li Антитела к брадикинину аффинно очищенные 0,12 г
													li Антитела к гистамину аффинно очищенные 0,12 г
													li Антитела к морфину аффинно очищенные 0,12 г
												ul
													li Антитела к брадикинину аффинно очищенные – 0,006 г
													li Антитела к гистамину аффинно очищенные – 0,006 г
													li Антитела к морфину аффинно очищенные – 0,006 г
									p.mechanism__anti-descr оказывают противовоспалительное действие позволяя миновать фазу влажного кашля
					.mechanism
						.mechanism__title-wrap
							.mechanism__title-img
								img(src="images/mechanism2.png", alt="")
							span.mechanism__title При сухом кашле
							.mechanism__bracket
								img(src="images/bracket.svg", alt="")
							.mechanism__anti-wrap
								.mechanism__anti
									.mechanism__anti-img
										img(src="images/i3.png", alt="")
									h3.mechanism__anti-title.mechanism__anti-title_abs 
										span.mechanism__sub-title.js-show-info Антитела
											span * 
										| к гистамину и брадикинину
										.info-abs.js-info-abs
											.info-abs__wrap
												ul
													li Антитела к брадикинину аффинно очищенные 0,12 г
													li Антитела к гистамину аффинно очищенные 0,12 г
													li Антитела к морфину аффинно очищенные 0,12 г
												ul
													li Антитела к брадикинину аффинно очищенные – 0,006 г
													li Антитела к гистамину аффинно очищенные – 0,006 г
													li Антитела к морфину аффинно очищенные – 0,006 г
									p.mechanism__anti-descr оказывают противовоспалительное бронхолитическое действие
								.mechanism__anti
									.mechanism__anti-img
										img(src="images/i4.png", alt="")
									h3.mechanism__anti-title
									p.mechanism__anti-descr купируют воспаление в дыхательных путях, препятствуют избыточному образованию вязкой мокроты
		
		section.testimony-section
			.container
				h2.section-title Показания к применению
				.advantages-wrap
					.advantages-row
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/testimony1.png", alt="")
								h3.advantages__title Сухой кашель
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/testimony2.png", alt="")
								h3.advantages__title Влажный кашель
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/testimony3.png", alt="")
								h3.advantages__title Остаточный кашель*
				.decree-wrap
					p.decree *или «затяжного» кашля – длительно сохраняющегося покашливания после перенесенного ОРЗ
		
		include ../blocks/section-application/section-application
block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements