extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.article-open-section
			.container
				h2.section-title.section-title_line Лечение кашля у взрослых
				.article
					.article__img
						img(src="images/article2.png", alt="")
					.article__info
						p.article__descr Обратить на себя внимание другого человека можно по-разному: дотронуться или позвать, а можно покашлять. Имитация тактичного покашливания может выражать отношение к увиденному или попытку предупредить, намекнуть о неловкости сложившейся ситуации. Кашель, как коммуникативное действие, производится человеком осознанно.
						span.article__subtitle Физиологическая роль кашля
						p.article__descr Кашель, как симптом болезни, является естественной реакцией на раздражение рецепторов, которую человек не контролирует. Физиологическое значение кашля — освобождение дыхательных путей от инородных частиц и устранение механических препятствий току воздуха при дыхании. Это могут быть микроорганизмы или мокрота, а также просто мелкие частички пыли. При попадании более крупных инородных тел тоже срабатывает безусловный рефлекс и организм пытается избавиться от чужака, при этом говорят, что человек поперхнулся. Механизм работы рефлекса основан на зависимости кашлевого центра, находящегося в головном мозге и рецепторов, расположенных в дыхательных путях. Путь кашля начинается с раздражения местных рецепторов и заканчивается в головном мозге активацией кашлевого центра.
						p.article__descr В целом по своей сути кашель является защитником организма и спутником, без которого невозможно скорейшее выздоровление. Являясь маркером различных заболеваний, кашель отличается рядом параметров, тем самым помогает поставить правильный диагноз.
						span.article__subtitle При каких заболеваниях может возникнуть кашель?
						p.article__descr Заболевания, для которых кашель является характерным симптомом варьируют от простых ОРВИ до тяжелых — туберкулеза и сердечной недостаточности. Лекарство кашля для взрослых найти в аптеке несложно, недорогие лекарства от кашля в широком ассортименте представлены на полках, а вот лечение более опасных заболеваний необходимо проводить под наблюдением врача в больницах.
						p.article__descr Если же мы говорим о симптоме, который сопровождает острую респираторную инфекцию (ОРИ), то здесь возможны два варианта: сухой и влажный кашель.
						span.article__subtitle Лечение кашля
						p.article__descr Такая классификация кашля проводится в зависимости от выделения мокроты или ее отсутствия. При сухом кашле мокрота почти не выделяется, поэтому его называют непродуктивным кашлем. При заболеваниях вирусного характера сухой кашель характеризует начало заболевания и его острую фазу. Густая мокрота скапливается в дыхательных путях, запуская механизм образования кашля. Раздраженные местные рецепторы подают сигналы в головной мозг, активизируя кашлевой центр. В начальный период заболевания необходимо принимать лекарство от сухого кашля, чтобы уменьшить частоту и интенсивность выматывающих приступов непродуктивного кашля. Как правило, длительность приема таких лекарств ограничивается несколькими днями. Важно не пропустить переломный момент в болезни и таблетки от сухого кашля заменить на лекарство от влажного кашля.
						p.article__descr Если мокроты выделяется достаточное количество, то кашель называют продуктивным или влажным. Врачом-терапевтом назначается лекарство от влажного кашля, способствующее более легкому и безболезненному отхождению мокроты. Как правило, появление мокроты означает постепенное выздоровление пациента, у него спадает отек дыхательных путей, и слизистая оболочка восстанавливает нормальные показатели. В этот период, чувствуя, что выздоравливает, пациент самостоятельно перестает принимать таблетки от влажного кашля. Если окончательного исчезновения мокроты не произошло, но она прозрачная и не имеет кровяных вкраплений, то тревогу бить не стоит. Ежедневное вырабатывание небольшого количества мокроты считается нормой у людей.
						span.article__subtitle Лечение кашля
						p.article__descr Такая сложная схема лечения ОРИ часто вызывает у людей ошибки в приеме лекарств. Им нужно не забыть принять противовирусные препараты, лекарство от кашля и других возникающих симптомов (боль в горле, насморк и т.д.)., запомнить, сколько раз и в какое время относительно приемов пищи необходимо принять лекарства, выбрать правильную дозировку и форму препарата. Все эти манипуляции человек должен совершать при плохом самочувствии и ослабленном организме.
						p.article__descr Существенно сократить список необходимых лекарственных средств может помочь препарат Ренгалин, предназначенный для лечения сухого и влажного кашля для взрослых и детей с 3-х лет. За счет трехкомпонентного состава он обеспечивает комплексное действие: снижает активность кашлевого центра, уменьшает отек и воспаление, умеренно расширяет бронхи.
						p.article__descr Ренгалин не вызывает сонливости и может применяться при управлении автомобилем. Но забывать о консультации и рекомендациях врача не стоит, соблюдайте щадящий режим до полного выздоровления. Берегите себя!
				
		section.article-section#scroll
			.container
				h2.section-title.section-title_line Похожие статьи
				.article-wrap
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
				.btn-wrap
					button(type="button").btn.secondary показать еще

block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements