extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.article-open-section
			.container
				h2.section-title.section-title_line Ренгалин от кашля для детей
				.article
					.article__img
						img(src="images/article1.png", alt="")
					.article__info
						p.article__descr Красочный и беззаботный, так можно охарактеризовать детский мир. Открытое сердце и отсутствие отрицательного опыта делают ребенка незащищенным во взаимоотношениях с окружающей средой. В период роста и взросления дети набивают свои шишки, учатся общению с разными людьми, формируют свою личность. Задача взрослого в этот период выполнять тыловое обеспечение всем необходимым и оказывать моральную и материальную поддержку неокрепшему организму. Родительская забота выражается не только в хорошем воспитании и неусыпном внимании, но и в подборе для ребенка теплой и дышащей одежды, удобной и эргономичной обуви, питательной и полезной пищи, эффективных и безопасных лекарств.
						span.article__subtitle Кашель при простуде
						p.article__descr Во время болезни дети особенно беззащитны, им требуется повышенное внимание и особый уход. Обычная простуда может привести к хроническим заболеваниям, если вовремя не обратиться к врачу-педиатру и не предпринять необходимых мер. Надо понимать, что под простым термином простуды собраны все респираторные заболевания вирусного характера, а они могут проявить свое коварство в запущенных формах болезни и при возникновении осложнений. При правильном лечении длительность простудаы не должна превышать 7-10 дней и не переходить в тяжелую форму. Поэтому лечение необходимо проводить по двум направлениям: бороться непосредственно с вирусом и возникающими симптомами.
						p.article__descr Одним из симптомов, возникающих у детей во время острой респираторной инфекции (ОРИ) является кашель. Он обладает двумя разноплановыми свойствами: очищающее и раздражающее. С одной стороны, кашель способствует отхождению мокроты и слизи, микробов и даже инородных тел. В данном случае он выступает защитной реакцией организма на раздражитель и помогает очистить дыхательные пути. С другой стороны, он мешает ребенку спать ночью, сильно утомляет днем. Естественно, что каждый заботливый родитель хочет избавить ребенка от мучительной болезни и увидеть радостную улыбку на его лице.
						span.article__subtitle Подбор лекарства от кашля
						p.article__descr Самостоятельно найти подходящее лекарство от кашля для детей родителям бывает достаточно сложно. Старшее поколение советует воспользоваться народными средствами. Однако отвары, настои, ингаляции и компрессы должны подбираться индивидуально для каждого ребенка с учетом его анамнеза. Многие травы и натуральные компоненты могут быть сильными аллергенами.
						p.article__descr Различные ограничения на компоненты в составе лекарственных препаратов у детей разного возраста заставляют с осторожностью и особой внимательностью подходить к подбору таких средств. Выбор лекарствоа от кашля для детей до года вызывает особую озабоченность у родителей. Основные усилия при лечении ребенка и ускорения его выздоровления необходимо направить на создание правильного температурного режима в комнате, где находится больной ребенок, поддержание оптимальной влажности воздуха, обеспечение его обильным питьем. Перед началом лечения необходимо обязательно проконсультироваться с врачом!
						p.article__descr Обязательно прочтите инструкцию по применению препарата.
						p.article__descr После того, как сделан выбор противокашлевого средства для лечения сухого кашля у ребенка с учетом всех требований и ограничений, полагается провести лечение согласно инструкции. Обычно, инструкция для детей отличается от взрослой только дозировкой. Как правило, длительность приема таких лекарств ограничивается несколькими днями. Далее родителям вновь необходимо подбирать противокашлевой препарат в детской лекарственной форме, оказывающего другой клинический эффект, но теперь муколитического и отхаркивающего действия. И снова родителям приходится сталкиваться с многообразием выбора и ограничений.
						p.article__descr Решить проблему выбора детского лекарства от кашля можно с помощью комплексного препарата. Лекарствао от кашля для детей такого типа сочетают в себе компоненты, активные в отношении сухого и влажного кашля. Среди них — лекарственное средство — раствор для приема внутрь Ренгалин, созданный специально для детей с 3-х лет*. За счет трехкомпонентного состава препарат обеспечивает комплексное действие: снижает активность кашлевого центра, уменьшает отек и воспаление, умеренно расширяет бронхи. Рекомендован Ренгалин для детей от 3х лет.
						p.article__descr Новый комплексный подход в лечении кашля освобождает родителей от долгих раздумий при выборе лекарства. На протяжении всего курса лечения можно применять один противокашлевой препарат. У Ренгалина практически нет противопоказаний и побочных эффектов, что позволяет его рекомендовать для лечения кашля у детей. А мы знаем, что безопасность — это один из главных критериев при подборе всего, с чем соприкасается ребенок в своей жизни, поэтому рекомендуем ознакомиться с инструкцией по применению Ренгалина для детей на нашем сайте.
						p.article__subinfo * Геппе Н.А.и соавт. Антибиотики и Химиотерапия, 2014; 59(7-8),с.16-24
				
		section.article-section#scroll
			.container
				h2.section-title.section-title_line Похожие статьи
				.article-wrap
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
				.btn-wrap
					button(type="button").btn.secondary показать еще

block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements
