extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		section.article-section
			.container
				h2.section-title.section-title_line Статьи
				.article-wrap
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
				.btn-wrap#scroll
					button(type="button").btn.secondary показать еще

block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements