extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.article-open-section
			.container
				h2.section-title.section-title_line О природе кашля
				.article
					.article__img
						img(src="images/article1.png", alt="")
					.article__content
						h4 Кашель и его назначение?
						p.article__descr Кашель, как симптом болезни, является естественной реакцией на раздражение рецепторов, расположенных в дыхательных путях, которую человек не контролирует.
						p.article__descr Физиологическое значение кашля — освобождение дыхательных путей от инородных частиц и устранение механических препятствий току воздуха. Это могут быть микроорганизмы или мокрота, а также просто мелкие частички пыли. При попадании более крупных инородных тел тоже срабатывает безусловный рефлекс и организм пытается избавиться от чужака, при этом говорят, что человек поперхнулся. Механизм работы рефлекса основан на зависимости кашлевого центра, находящегося в головном мозге и рецепторов, расположенных в дыхательных путях. Реализация кашлевого рефлекса начинается с раздражения местных рецепторов и заканчивается в головном мозге активацией кашлевого центра.
						p.article__descr В целом по своей сути кашель является защитником организма и спутником, без которого невозможно скорейшее выздоровление. Являясь маркером различных заболеваний, кашель отличается рядом параметров, тем самым помогает поставить правильный диагноз.
						h4 При каких заболеваниях может возникнуть кашель?
						p.article__descr Заболевания, для которых кашель является характерным симптомом варьируют от острых респираторных вирусных инфекций (ОРВИ) до тяжелых состояний, например, туберкулеза и сердечная недостаточность. Лекарство от бронхита и кашля у взрослых найти в аптеке не сложно, недорогие лекарства от кашля в широком ассортименте представлены на полках, а вот лечение более опасных заболеваний необходимо проводить под наблюдением врача в стационаре
						h4 Классификация кашля
						p.article__descr Если мы говорим о симптоме, который сопровождает острую респираторную инфекцию (ОРИ), то здесь возможны два варианта:
							span.article__under сухой
							| и 
							span.article__under влажный
							| кашель.
						.alignright
							img(src="images/co1.png", alt="")
						p.article__descr Такое разделение на два типа кашля проводится на основании наличия, либо отсутствия мокроты. При сухом кашле мокрота почти не выделяется, поэтому его называют непродуктивным кашлем. При заболеваниях вирусного характера сухой кашель характеризует начало заболевания и его острую фазу. В течение первых дней болезни — густая мокрота скапливается в дыхательных путях, запуская механизм образования кашля. Раздраженные местные рецепторы подают сигналы в головной мозг активизируя кашлевой центр.
						p.article__descr В начальный период заболевания необходимо принимать лекарство от сухого кашля, чтобы снизить изматывающие приступы непродуктивного кашля. Как правило, длительность приема таких лекарств ограничивается несколькими днями. Важно не пропустить переломный момент в болезни и таблетки от сухого кашля заменить на лекарство от влажного кашля.
						.alignleft
							img(src="images/co2.png", alt="")
						p.article__descr Если мокроты выделяется достаточное количество, то кашель называют продуктивным или влажным. Врачом-терапевтом назначается лекарство от влажного кашля, способствующее более легкому и безболезненному отхождению мокроты. Как правило, появление мокроты означает постепенное выздоровление пациента, у него спадает отек дыхательных путей, и слизистая оболочка возвращается в нормальное состояние. В этот период, чувствуя, что выздоравливает, пациент самостоятельно перестает принимать таблетки от влажного кашля. Если окончательного исчезновения мокроты не произошло, но она прозрачная и не имеет кровяных вкраплений или желто-зеленого оттенка, то тревогу бить не стоит. Ежедневное вырабатывание небольшого количества мокроты считается нормой у людей.
						p.article__descr Такая сложная схема лечения ОРИ часто вызывает у людей ошибки в приеме лекарств. Им нужно не забыть принять противовирусные препараты, лекарство от того типа кашля, который мучает на текущий момент, и других возникающих симптомов (боль в горле, насморк и т.д.)., запомнить, сколько раз и в какое время относительно приемов пищи необходимо принять лекарства, выбрать правильную дозировку и форму препарата. Все эти манипуляции человеку приходится совершать при плохом самочувствии и ослабленном организме.
						h4 Как быстро побороть заболевание?
						p.article__descr Существенно сократить список необходимых лекарственных средств может помочь универсальный препарат Ренгалин, предназначенный для лечения сухого и влажного кашля для взрослых и детей с 3-х лет. За счет трехкомпонентного состава он обеспечивает комплексное действие: снижает активность кашлевого центра, уменьшает отек и воспаление, умеренно расширяет бронхи.
						.advantages-wrap
							.advantages-row
								.advantages
									.advantages__wrap
										.advantages__img
											img(src="images/f1.png", alt="")
										h3.advantages__title Снижает активность кашлевого центра
								.advantages
									.advantages__wrap
										.advantages__img
											img(src="images/f2.png", alt="")
										h3.advantages__title Устраняет отечность и воспаление в дыхательных путях
								.advantages
									.advantages__wrap
										.advantages__img
											img(src="images/f3.png", alt="")
										h3.advantages__title Умеренно расширяет бронхи
								.advantages
									.advantages__wrap
										.advantages__img
											img(src="images/f4.png", alt="")
										h3.advantages__title Не вызывает сонливости и заторможенности
						p.article__descr Ренгалин не вызывает сонливости и может применяться при управлении автомобилем. Но забывать о консультации и рекомендациях врача не стоит, соблюдайте щадящий режим до полного выздоровления. Берегите себя!		
				
				.tabs.js-tabs#scroll
					h3.tab-title Типы кашля
					ul.tabs__list.js-tab-btn
						li.tabs__item.active Сухой кашель
						li.tabs__item Влажный кашель

					.tabs__content.js-tab-content.active
						img(src="images/article1.png", alt="")
						.accordion
							.accordion__item
								h3.accordion__title Защищает или изматывает?
								.accordion__content
									p.accordion__descr Таблетки плоскоцилиндрической формы, с фаской, с риской на одной плоской стороне, с цельными краями, от белого до почти белого цвета.
									p.accordion__descr На плоской стороне с риской нанесена надпись MATERIA MEDICA, на другой плоской стороне нанесена надпись RENGALIN.
							.accordion__item
								h3.accordion__title Коварство сухого кашля…
								.accordion__content
									p.accordion__descr 1
					.tabs__content.js-tab-content
						img(src="images/article1.png", alt="")
						.accordion
							.accordion__item
								h3.accordion__title Защищает или изматывает?
								.accordion__content
									p.accordion__descr Таблетки плоскоцилиндрической формы, с фаской, с риской на одной плоской стороне, с цельными краями, от белого до почти белого цвета.
									p.accordion__descr На плоской стороне с риской нанесена надпись MATERIA MEDICA, на другой плоской стороне нанесена надпись RENGALIN.
							.accordion__item
								h3.accordion__title Коварство сухого кашля…
								.accordion__content
									p.accordion__descr 1

		section.form-section
			.container
				h2.section-title Ренгалин выпускается в 2-х формах:
				.form-wrap
					.form-drug
						.form-img
							img(src="images/form1.png", alt="")
						p.form-info Таблетки для рассасывания не требуют запивания водой и удобны в применении у взрослых (удобно взять с собой на работу, в отпуск)
					.form-drug
						.form-img
							img(src="images/form2.png", alt="")
						p.form-info Раствор для приема внутрь является наиболее удобной формой для детей
		
		include ../blocks/microphone/microphone

		section.article-section
			.container
				h2.section-title.section-title_line Статьи
				.article-wrap
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
				.btn-wrap
					button(type="button").btn.secondary все статьи

block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements