extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		include ../blocks/main-section/main-section
		include ../blocks/microphone/microphone
		include ../blocks/section-advantages/section-advantages
		include ../blocks/section-application/section-application
		include ../blocks/section-nature/section-nature
		include ../blocks/section-about/about-company

block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements

block script
	script(src="js/bundle.js")
