extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.instruct-section
			.container
				h2.section-title.section-title_line Инструкция по медицинскому применению лекарственного препарата Реналгин
				
				.tabs.js-tabs
					ul.tabs__list.js-tab-btn
						li.tabs__item.active Таблетки
						li.tabs__item Раствор

					.tabs__content.js-tab-content.active
						.accordion
							.accordion__item
								h3.accordion__title Регистрационный номер
								.accordion__content
									p.accordion__descr Таблетки плоскоцилиндрической формы, с фаской, с риской на одной плоской стороне, с цельными краями, от белого до почти белого цвета.
									p.accordion__descr На плоской стороне с риской нанесена надпись MATERIA MEDICA, на другой плоской стороне нанесена надпись RENGALIN.
							.accordion__item
								h3.accordion__title Торговое название
								.accordion__content
									p.accordion__descr 1
							.accordion__item
								h3.accordion__title Лекарственная форма
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Состав
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Описание
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Фармакотерапевтическая группа
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Код АТХ
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Фармакологические свойства
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Фармакодинамика
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Фармакокинетика
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Показания к применению
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Противопоказания
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Применение при беременности и в период грудного вскармливания
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Способ применения и дозы
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Побочное действие
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Передозировка
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Взаимодействие с другими лекарственными средствами
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Особые указания
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Влияние на способность управлять транспортными средствами, механизмами
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Особые указания
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Форма выпуска
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Условия хранения
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Срок годности
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Условия отпуска из аптек 
								.accordion__content
									p.accordion__descr 2

					.tabs__content.js-tab-content
						.accordion
							.accordion__item
								h3.accordion__title Регистрационный номер
								.accordion__content
									p.accordion__descr Таблетки плоскоцилиндрической формы, с фаской, с риской на одной плоской стороне, с цельными краями, от белого до почти белого цвета.
									p.accordion__descr На плоской стороне с риской нанесена надпись MATERIA MEDICA, на другой плоской стороне нанесена надпись RENGALIN.
							.accordion__item
								h3.accordion__title Торговое название
								.accordion__content
									p.accordion__descr 1
							.accordion__item
								h3.accordion__title Лекарственная форма
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Состав
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Описание
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Фармакотерапевтическая группа
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Код АТХ
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Фармакологические свойства
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Фармакодинамика
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Фармакокинетика
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Показания к применению
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Противопоказания
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Применение при беременности и в период грудного вскармливания
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Способ применения и дозы
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Побочное действие
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Передозировка
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Взаимодействие с другими лекарственными средствами
								.accordion__content
									p.accordion__descr 2
							.accordion__item
								h3.accordion__title Особые указания
								.accordion__content
									p.accordion__descr 2
				a(href="#" download).btn.secondary#scroll скачать инструкцию
							
						
							
								
block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements