extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.about-preparat-section
			.container
				.description-content
					.description-info
						h2.section-title Специалистам
						p.section-descr Ренгалин – 1 место в назначениях специалистов среди препаратов группы «Противокашлевые средства, за исключением комбинированных препаратов, содержащих экспекторанты»
						p.section-subdescr Источник: Данные аудита врачебных назначений RxTest базы данных «Система исследования рынка Pharmxplorer» за период 2019г.
					.description-img
						img(src="images/pack1.png", alt="")
		section.mechanism-section
			.container
				h2.section-title.section-title_line Ренгалин включен в руководства и методические рекомендации 
				.manual-wrap
					a(href="#" download).manual
						.manual__wrap
							.manual__img
								img(src="images/pack1.png", alt="")
							p.manual__descr Руководство Педиатрического респираторного 
								br 
								| общества
							span.manual__download Скачать
					a(href="#" download).manual
						.manual__wrap
							.manual__img
								img(src="images/pack1.png", alt="")
							p.manual__descr Методические рекомендации Федерального медико-биологического агенства
							span.manual__download Скачать
		section.results-section
			.container
				h2.section-title По результатам исследований приема препарата Ренгалин
				.result-wrap
					.results
						.results__wrap
							.results__img
								img(src="images/result1.svg", alt="")
							p.results__descr У 53% пациентов непродуктивный кашель перешел в «остаточный» после 3-дневного курса
					.results
						.results__wrap
							.results__img
								img(src="images/result2.svg", alt="")
							p.results__descr Препятствует развитию экссудации с образованием вязкой мокроты, что существенно снижает потребность назначениям препаратов (32% пациентов против 43% группы Плацебо)
					.results
						.results__wrap
							.results__img
								img(src="images/result3.svg", alt="")
							p.results__descr Улучшение или полное купирование кашля после 3 дней терапии Ренгалином у 68% пациентов
					.results
						.results__wrap
							.results__img
								img(src="images/result4.svg", alt="")
							p.results__descr Общая продолжительность кашля у взрослых пациентов с ОРИ ограничивается 4.37±0.11 днями
					.results
						.results__wrap
							.results__img
								img(src="images/result5.svg", alt="")
							p.results__descr Общая продолжительность кашля у детей с ОРИ составляет 5,8±0,1 дней
				.result-title-wrap
					span.result-line
					span.result-title Ссылки на источник
					span.result-line
				.result-blocks
					.result-block
						p.block-desrc Многоцентровое открытое сравнительное рандомизированное клиническое исследование в параллельных группах безопасности и эффективности жидкой лекарственной формы Ренгалина в лечении кашля при ОРИ верхних дыхательных путей у детей
						p.block-subdescr  Геппе Н.А., Кондюрина Е.Г., Галустян А.Н. и др. Лечащий врач. 2017; 10: 25-33
					.result-block
						p.block-desrc Многоцентровое двойное слепое плацебо-контролируемое рандомизированное клиническое исследование в параллельных группах безопасности и эффективности жидкой лекарственной формы Ренгалина в лечении кашля при острых респираторных инфекциях верхних дыхательных путей у взрослых пациентов
						p.block-subdescr Хамитов Р.М. и соавт. Терапия. 2019; Т.5№1(27): 38-53
		section.video-section
			.container
				.video-info
					h3 Всероссийская наблюдательная программа РЕАЛ
					p Изучение практики применения Ренгалина в амбулаторных условиях у пациентов с кашелм при отсрых респираторных инфекциях
				.video-info
					.product-video.js-video-open
						img(src="images/ba1.png", alt="")
						.video-btn

					.video-modal.js-video-modal
						span.js-video-close.video-close
						video(controls).video.js-video#video-one
							source(src="video/video.webm")
		include ../blocks/section-product/section-product
		section.materials-section
			.container
				h2.section-title Полезные материалы
				.article-wrap
					a(href="#" download).article.article_material
						.article__wrap
							.article__content
								span.article__author Емельянова А.Г., Тарасов С.А., Морозов С.Г.
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									span.article__download Скачать PDF
					a(href="#" download).article.article_material
						.article__wrap
							.article__content
								span.article__author Емельянова А.Г., Тарасов С.А., Морозов С.Г.
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									span.article__download Скачать PDF
					a(href="#" download).article.article_material
						.article__wrap
							.article__content
								span.article__author Емельянова А.Г., Тарасов С.А., Морозов С.Г.
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									span.article__download Скачать PDF
					a(href="#" download).article.article_material
						.article__wrap
							.article__content
								span.article__author Емельянова А.Г., Тарасов С.А., Морозов С.Г.
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									span.article__download Скачать PDF
		section.article-section
			.container
				h2.section-title.section-title_line Статьи
				.article-wrap
					.article.article_art
						.article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__content
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									a(href="#" download).article__download Скачать PDF
					.article.article_art
						.article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__content
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									a(href="#" download).article__download Скачать PDF
					.article.article_art
						.article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__content
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									a(href="#" download).article__download Скачать PDF
					.article.article_art
						.article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__content
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									a(href="#" download).article__download Скачать PDF


block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements
	.mask.js-mask.js-mask-spec.active

	.modal.js-accept-modal.js-accept-spec.js-modal.scroll-wrap.active
		.modal__wrap
			button(type="button").modal__close.js-close-modal
			h3.modal__accept-title Являетесь ли вы специалистом?
			.modal__nav
				button(type="button").btn.secondary.js-close-modal да
				a(href="index.html").btn.secondary нет