.article-section {
	padding: 40px 0 37px;
	background-color: $white;

	@media screen and (min-width: 768px) {
		padding: 80px 0 100px;
	}

	.section-title {
		margin-bottom: 60px;
	}

	.btn-wrap {
		margin-top: 24px;
	}
}

.article-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -18px;
}

.article {
	width: 100%;
	padding: 0 18px;
	margin-bottom: 30px;
	min-height: 430px;

	@media screen and (min-width: 700px) {
		margin-bottom: 36px;
		width: 50%;
	}

	@media screen and (min-width: 1024px) {
		width: 33.33%;
	}

	&_material {
		width: 100%;
		min-height: 320px;
		.article__title {
			font-size: 16px;
			margin-bottom: 15px;
			@media screen and (min-width: 768px) {
				font-size: 18px;
			}
		}
		@media screen and (min-width: 768px) {
			width: 50%;
		}
		.article__wrap {
			border-top: 4px solid #7a84a9;
			background-color: $white;
			&:hover {
				border-color: $btn-color;
			}
		}
	}

	&_art {
		width: 100%;
		.article__title {
			font-size: 16px;
			margin-bottom: 15px;
			@media screen and (min-width: 768px) {
				font-size: 18px;
			}
		}
		@media screen and (min-width: 768px) {
			width: 50%;
			min-height: 580px;
		}
	}

	&__wrap {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		height: 100%;
		border-radius: 6px;
		overflow: hidden;
		transition: all 0.3s ease;
		box-shadow: 0px 2px 6px rgba(207, 210, 219, 0.5);

		&:hover {
			box-shadow: 0px 10px 60px #cfd2db;

			.article__img {
				filter: grayscale(0);
			}
		}
	}

	&__img {
		flex: none;
		height: 220px;
		filter: grayscale(100%);
		transition: all 1s ease;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__descr,
	p {
		font-size: 16px;
		line-height: 178%;
		color: $text-color;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (min-width: 768px) {
			font-size: 18px;
		}
	}

	&__content {
		padding: 15px;
		height: 100%;
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 768px) {
			padding: 30px;
		}
	}

	&__info {
		padding: 25px 30px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.advantages-wrap {
		@media screen and (min-width: 1200px) {
			margin: 60px -90px 50px;
		}

		h3 {
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			color: #191919;
		}
	}

	&__title,
	h3 {
		font-weight: 600;
		font-size: 20px;
		color: $text-color;
		line-height: 150%;
	}

	&__subtitle,
	h4 {
		font-weight: 600;
		font-size: 20px;
		color: $text-color;
		margin-bottom: 20px;
	}

	&__date {
		font-weight: 500;
		font-size: 14px;
		color: $btn-color;
		margin-bottom: 10px;
	}

	&__subinfo {
		font-size: 12px;
		line-height: 140%;
		color: $link-color;

		@media screen and (min-width: 768px) {
			font-size: 14px;
		}
	}

	&__under {
		text-decoration: underline;
		margin: 0 5px;
	}

	&__author {
		font-size: 14px;
		color: $link-color;
		margin-bottom: 15px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: auto;
	}

	&__time {
		font-size: 14px;
		color: $link-color;
		padding-left: 26px;
		position: relative;
		&:before {
			position: absolute;
			content: "";
			width: 16px;
			height: 16px;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			@include bg-img-center;
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C3.58857 16 0 12.4114 0 8C0 3.58857 3.58857 0 8 0C12.4114 0 16 3.58857 16 8C16 12.4114 12.4114 16 8 16ZM7.99999 1.3342C4.32342 1.3342 1.33371 4.32391 1.33371 8.00048C1.33371 11.6771 4.32342 14.6668 7.99999 14.6668C11.6766 14.6668 14.6663 11.6771 14.6663 8.00048C14.6663 4.32391 11.6766 1.3342 7.99999 1.3342ZM10.6663 11.3342C10.496 11.3342 10.3257 11.2691 10.1954 11.1388L7.52913 8.47249C7.46742 8.41078 7.41828 8.33649 7.38513 8.25535C7.35085 8.17421 7.33371 8.08735 7.33371 8.00049V3.33421C7.33371 2.96621 7.63199 2.66678 7.99999 2.66678C8.36799 2.66678 8.66628 2.96621 8.66628 3.33421V7.72506L11.1383 10.1959C11.3988 10.4565 11.3988 10.8782 11.1383 11.1388C11.008 11.2691 10.8377 11.3342 10.6663 11.3342Z' fill='%237A84A9'/%3E%3C/svg%3E%0A");
		}
	}

	&__download {
		font-weight: 600;
		color: $link-color;
		padding-right: 22px;
		position: relative;
		&:before {
			transition: all 0.3s ease;
			position: absolute;
			content: "";
			width: 15px;
			height: 9px;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			@include bg-img-center;
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L7 7L1 1' stroke='%237A84A9' stroke-width='2'/%3E%3C/svg%3E%0A");
		}
		&:hover {
			color: $btn-color;
			&:before {
				transform: translateY(-10%);
				background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L7 7L1 1' stroke='%23FF0000' stroke-width='2'/%3E%3C/svg%3E%0A");
			}
		}
	}
}

.alignright {
	margin: 0 0 30px;
	display: flex;
	justify-content: center;

	@media screen and (min-width: 768px) {
		float: right;
		max-width: 50%;
		width: auto;
		height: auto;
		margin: 0 0 30px 30px;
	}
}

.alignleft {
	margin: 0 0 30px;
	display: flex;
	justify-content: center;

	@media screen and (min-width: 768px) {
		float: left;
		max-width: 50%;
		width: auto;
		height: auto;
		margin: 0 30px 30px 0;
	}
}
