.result-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -36px 50px;

    @media screen and (min-width: 1024px) {
        margin: 0 -15px 50px;
    }
}

.results {
    width: 100%;
    padding: 0 36px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        width: 50%;
    }

    @media screen and (min-width: 1024px) {
        width: 20%;
        padding: 0 15px;
    }

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 1300px) {
            align-items: flex-start;
        }
    }

    &__img {
        width: 80px;
        height: 80px;
        margin-bottom: 15px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__descr {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: $text-color;
        padding: 20px 0 0;
        position: relative;
        text-align: center;

        @media screen and (min-width: 1300px) {
            text-align: left;
        }

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80px;
            height: 2px;
            background-color: $btn-color;

            @media screen and (min-width: 1300px) {
                left: 0;
                transform: none;
            }
        }
    }
}

.result-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.result-title {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: $link-color;
    white-space: nowrap;
    padding: 0 10px;
}

.result-line {
    width: 100%;
    height: 1px;
    background-color: $link-color;
}

.result-blocks {
    display: flex;
    justify-content: space-between;
}

.result-block {
    width: calc(50% - 18px);
}

.block-desrc {
    font-size: 12px;
    line-height: 167%;
    color: $link-color;
    margin-bottom: 20px;
}

.block-subdescr {
    font-size: 12px;
    line-height: 167%;
    color: $link-color;
    font-style: italic;
}