.tabs {
	max-width: 940px;
	width: 100%;
	margin: 0 auto;

	&__list {
		display: flex;
		justify-content: center;
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
		position: relative;
		@media screen and (min-width: 1024px) {
			margin-bottom: 60px;
		}
		&:after {
			position: absolute;
			content: "";
			width: 100vw;
			height: 1px;
			background-color: $link-color;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			@media screen and (min-width: 1024px) {
			}
		}
	}

	&__item {
		min-width: 160px;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #61646D;
		cursor: pointer;
		padding-bottom: 20px;
		position: relative;
		text-align: center;
		z-index: 2;
		@media screen and (min-width: 768px) {
			min-width: 260px;
			font-size: 16px;
		}
		&:after {
			position: absolute;
			content: '';
			bottom: -3px;
			left: 50%;
			transform: translateX(-50%);
			background-color: $btn-color;
			height: 4px;
			width: 100%;
			opacity: 0;
		}

		&.active {
			font-weight: 700;
			color: $text-color;
			&:after {
				opacity: 1;
			}
		}
	}

	&__content {
		display: none;

		&.active {
			display: block;
		}

		img {
			width: 100%;
		}
	}
}
