.header {
	padding: 18px 0 17px 0;
	border-bottom: 1px solid $card-bg;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: $white;
	transition: all .3s ease;

	&.active {
		@media screen and (min-width: 1024px) {
			padding: 10px 0;
		}
	}

	@media screen and (min-width: 768px) {
		padding: 20px 0;
	}

	@media screen and (min-width: 1024px) {
		padding: 30px 0 29px;
	}

	.container {
		max-width: 1430px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (min-width: 1200px) {
			padding: 0 40px;
		}
	}

	.logo {
		order: 2;

		@media screen and (min-width: 1024px) {
			order: 1;
		}
	}

	.burger-menu {
		position: fixed;
		top: 0;
		z-index: 5;
		left: -100%;
		width: 255px;
		height: 100vh;
		transition: all 0.5s ease;
		background-color: $white;
		padding: 25px 20px 20px 55px;
		box-shadow: 0px -7px 12px rgba(0, 0, 0, 0.25);
		z-index: 10;

		@media screen and (min-width: 768px) {
			padding-top: 34px;
		}

		@media screen and (min-width: 1024px) {
			width: 100%;
			position: relative;
			top: auto;
			left: auto;
			height: auto;
			background-color: transparent;
			padding: 0;
			box-shadow: none;
			display: flex;
			align-items: center;
			margin: 0 0 0 auto;
			order: 2;
		}

		&.active {
			left: 0;
		}
	}

	.nav {
		width: 100%;
		display: flex;
		justify-content: center;

		&__list {
			display: flex;
			flex-direction: column;

			@media screen and (min-width: 1024px) {
				flex-direction: row;
				align-items: center;
			}
		}

		&__item {
			margin: 0 0 25px;

			&:last-child {
				margin-right: 0;
			}

			@media screen and (min-width: 1024px) {
				margin: 0 15px 0 0;
			}
			@media screen and (min-width: 1200px) {
				margin: 0 30px 0 0;
			}
		}

		&__link {
			font-weight: 700;
			font-size: 12px;
			line-height: 1.25;
			letter-spacing: 2.4px;
			color: $text-color;
			text-transform: uppercase;
			white-space: nowrap;
			cursor: pointer;

			&.active {
				color: $btn-color;
			}

			&:hover {
				color: $btn-color;
			}

			@media screen and (min-width: 1024px) {
				font-size: 9px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 12px;
			}
		}
	}

	.buy-btn {
		order: 3;
		width: 40px;
		height: 24px;
		background-color: $btn-color;
		border-radius: 20px;
		display: block;
		position: relative;

		&:before {
			position: absolute;
			content: '';
			width: 15px;
			height: 14px;
			@include bg-img-center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6472 3.38345H2.70419L2.52666 1.40571C2.49762 1.08229 2.22657 0.834473 1.90186 0.834473H0.627311C0.280856 0.834473 0 1.11533 0 1.46178C0 1.80824 0.280856 2.08909 0.627311 2.08909H1.32835C1.71145 6.35726 0.721318 -4.67436 2.04984 10.1273C2.10104 10.7066 2.41407 11.3353 2.95332 11.7625C1.98108 13.0041 2.86941 14.8345 4.45092 14.8345C5.76356 14.8345 6.68938 13.5253 6.23924 12.2854H9.6726C9.22303 13.5237 10.1468 14.8345 11.4609 14.8345C12.5096 14.8345 13.3628 13.9813 13.3628 12.9326C13.3628 11.8839 12.5096 11.0308 11.4609 11.0308H4.45516C3.97865 11.0308 3.5634 10.7433 3.38416 10.3244L13.4094 9.73521C13.6831 9.71914 13.9147 9.52712 13.9812 9.26114L15.2558 4.1629C15.3547 3.76757 15.0554 3.38345 14.6472 3.38345ZM4.45092 13.5799C4.09407 13.5799 3.80372 13.2895 3.80372 12.9326C3.80372 12.5757 4.09407 12.2854 4.45092 12.2854C4.8078 12.2854 5.09816 12.5757 5.09816 12.9326C5.09816 13.2895 4.8078 13.5799 4.45092 13.5799ZM11.4609 13.5799C11.104 13.5799 10.8136 13.2895 10.8136 12.9326C10.8136 12.5757 11.104 12.2854 11.4609 12.2854C11.8178 12.2854 12.1081 12.5757 12.1081 12.9326C12.1081 13.2895 11.8178 13.5799 11.4609 13.5799ZM12.8758 8.5098L3.2153 9.07752L2.81681 4.63804H13.8438L12.8758 8.5098Z' fill='white'/%3E%3C/svg%3E%0A");

			@media screen and (min-width: 768px) {
				width: 24px;
				height: 20px;
			}
		}

		@media screen and (min-width: 768px) {
			width: 64px;
			height: 40px;
		}

		@media screen and (min-width: 1024px) {
			display: none;
		}
	}

	.btn {
		display: none;


		@media screen and (min-width: 1024px) {
			display: block;
			min-width: 150px;
			order: 3;
		}

		@media screen and (min-width: 1440px) {
			min-width: 180px;
		}
	}

	.burger {
		order: 1;
		position: relative;
		top: 0;
		z-index: 13;
		width: 40px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (min-width: 1024px) {
			display: none;
		}

		span {
			width: 40px;
			height: 2px;
			background-color: $dark;
			border-radius: 5px;
			transition: all 0.25s ease;
			position: relative;

			&:nth-child(1) {
				margin-bottom: 6px;
			}
		}

		&.active {
			span {
				&:nth-child(1) {
					top: 8px;
					transform: rotate(45deg);
				}

				&:nth-child(2) {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.logo {
	width: 168px;
	height: 14px;
	flex: none;

	@media screen and (min-width: 1440px) {
		width: 240px;
		height: 20px;
	}

	img {
		width: 100%;
		height: 100%;
	}
}