header.header
	.container
		a(href="index.html").logo
			img(src="images/logo.svg", alt="logo")
		.burger-menu.js-nav
			nav.nav
				ul.nav__list
					li.nav__item
						a(href="about-preparat.html").nav__link.active О препарате
					li.nav__item
						a(href="instruction.html").nav__link  Инструкция
					li.nav__item
						a(href="cough.html").nav__link о кашле
					li.nav__item
						a(href="articles.html").nav__link Публикации
					li.nav__item
						span.nav__link.js-open-accept Специалистам
					li.nav__item
						a(href="faq.html").nav__link faq
		a(href="#").buy-btn
		a(href="#").btn.primary Купить
		.burger.js-burger
			span
			span