.main-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $text-color;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 42px;
  }
  @media screen and (min-width: 1201px) {
    font-size: 48px;
    line-height: 1.08;
    margin-bottom: 80px;
  }
}

.section-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: $text-color;

  &_line {
    display: block;
    text-align: center;
    position: relative;
    padding-bottom: 18px;
    @media screen and (min-width: 768px) {
      padding-bottom: 36px;
    }
    &:before {
      position: absolute;
      content: "";
      width: 80px;
      height: 2px;
      background-color: $btn-color;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 36px;
  }
}

.section-descr {
  font-size: 16px;
  line-height: 167%;
  color: $text-color;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  &_medium {
    font-weight: 500;
  }
}

.tab-title {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: $text-color;
}

.section-subdescr {
  font-size: 12px;
  line-height: 167%;
  color: $link-color;
}
