.section-intro {
  padding-top: 40px;
  padding-bottom: 18px;
  background: $bg-card-blue;

  @media screen and (min-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 38px;
  }

  .main-title {
    max-width: 650px;
    width: 100%;
    color: $black;
    margin-bottom: 32px;
  }

  .intro-img {
    display: flex;
    justify-content: center;

    img {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: auto;
      }
    }
  }

  .intro-arrow {
    display: flex;
    justify-content: center;
  }

  .scroll-link {
    animation-name: bounce;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }
}