section.section-intro
	.container
		h2.main-title Почему 
			br 
			| специалисты назначают Эргоферон?
		.intro-img
			img(src="images/ergo-main.png", alt="")
		.intro-arrow
			a(href="#expert").scroll-link
				img(src="images/arr-dn.svg", alt="")
	