section.about-company-section
	.container
		.description-content
			.description-info
				h2.section-title О компании
				p.section-descr.example Фармацевтическая компания «Материа Медика Холдинг» входит в ТОП-5 российских производителей на рынке ОТС России.   ООО «НПФ «Материа Медика Холдинг» выпускает и продает более 20 брендов. За разработку новых классов препаратов компания отмечена премией Правительства Российской Федерации.  Исследования препаратов в соответствии с требованиями GLP (Good Laboratory Practice – надлежащая/добросовестная лабораторная практика) и GCP (Good Clinical Practice — надлежащая/добросовестная клиническая практика) гарантируют высокий профиль безопасности продукции. В 2019г. по данным Synergy Research Group «Материа Медика Холдинг» занимает четвертое место по числу одобренных клинических исследований, а по числу включенных пациентов (около 1,5 тыс) компании принадлежит первое место среди российских и второе среди российских и зарубежных компаний, проводящих клинические исследования в РФ. Производственные мощности «Материа Медика Холдинг» сертифицированы на соответствие стандартам GMP. Продукция компании зарегистрирована и успешно продается не только в России и странах СНГ, но и в ряде зарубежных стран.
				a(href="#").btn.secondary подробнее
			.award-wrap
				.award
					.award__img
						img(src="images/award1.png", alt="")
					p.award__info Лауреат премии Правительства Российской Федерации в области науки и техники*
				.award
					.award__img
						img(src="images/award2.png", alt="")
					p.award__info Лауреат XVIII всероссийского конкурса «‎Платиновая унция»‎**
		.decree-wrap
			p.decree *Постановление Правительства Российской Федерации от 20 февраля 2006 г. N 96Е
			p.decree **В номинации "За разработку и внедрение в медицинскую практику инновационных лекарственных препаратов"