.footer {
	padding: 30px 0 0;
	background-color: $footer-bg;

	@media screen and (min-width: 768px) {
		padding: 45px 0 0;
	}

	@media screen and (min-width: 1024px) {
		padding: 65px 0 0;
	}

	.container {
		max-width: 1430px;
		display: flex;
		flex-direction: column;

		@media screen and (min-width: 768px) {
			padding: 0 40px;
		}
	}

	.btn {
		min-width: 150px;
		padding: 7px 10px;

		@media screen and (min-width: 1024px) {
			min-width: 180px;
			position: relative;
			top: -9px;
		}
	}

	.footer-logo {
		width: 95px;
		height: 38px;
		margin-bottom: 28px;

		@media screen and (min-width: 768px) {
			margin: 0 0 0 30px;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	.logo {
		margin-bottom: 55px;

		img {
			width: auto;
		}

		@media screen and (min-width: 768px) {
			width: 100%;
		}

		@media screen and (min-width: 1024px) {
			width: auto;
			margin: 0 auto 0 0;
		}
	}

	.nav {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 0 40px;

		@media screen and (min-width: 768px) {
			width: 25%;
			align-items: flex-start;
			margin: 0;
			padding: 0 30px 0 0;
		}

		@media screen and (min-width: 1024px) {
			width: auto;
		}

		@media screen and (min-width: 1200px) {
			margin-right: 30px;
		}

		@media screen and (min-width: 1360px) {
			margin-right: 50px;
		}

		&__title {
			font-weight: 700;
			font-size: 12px;
			line-height: 1.25;
			letter-spacing: 2.4px;
			color: $text-color;
			text-transform: uppercase;
			margin-bottom: 15px;
			display: block;
		}

		&__list {
			display: flex;
			flex-direction: column;
			align-items: center;

			@media screen and (min-width: 768px) {
				align-items: flex-start;
			}
		}

		&__item {
			margin-bottom: 10px;
			max-width: 215px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__link {
			font-weight: 500;
			font-size: 14px;
			line-height: 143%;
			color: $link-color;

			&:hover {
				color: $hover-text;
			}
		}

		&__download {
			font-weight: 700;
			font-size: 12px;
			text-decoration-line: underline;
			text-transform: uppercase;
			color: $text-color;
			position: relative;
			cursor: pointer;

			&.active {
				.litera {
					z-index: 11;
					opacity: 1;
					visibility: visible;
				}
			}

			&:hover {
				@media screen and (min-width: 1024px) {
					text-decoration: none;

					.litera {
						z-index: 11;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		.litera {
			position: absolute;
			background-color: $white;
			bottom: 40px;
			transform: translateX(-50%);
			left: 50%;
			width: 90vw;
			max-width: 540px;
			padding: 20px;
			border-radius: 10px;
			transition: all 0.5s ease;
			opacity: 0;
			z-index: -1;
			visibility: hidden;
			box-shadow: 0px 10px 60px #cfd2db;

			@media screen and (min-width: 1024px) {
				width: 540px;
				left: -580px;
				bottom: auto;
				top: 50%;
				transform: translateY(-50%) translateX(0);
			}

			p {
				font-size: 12px;
				font-weight: 400;
				margin-bottom: 10px;
				text-transform: none;

				@media screen and (min-width: 1024px) {
					font-size: 14px;
				}
			}

			&:before {
				content: "";
				position: absolute;
				border: 20px solid transparent;
				border-left: 20px solid $white;
				transform: translateX(-50%) rotate(90deg);
				bottom: -40px;
				left: 50%;

				@media screen and (min-width: 1024px) {
					left: auto;
					bottom: auto;
					right: -40px;
					top: 50%;
					transform: translateY(-50%) translateX(0) rotate(0);
				}
			}
		}
	}

	.footer-nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			align-items: flex-start;
			flex-wrap: wrap;
		}

		@media screen and (min-width: 1024px) {
			flex-wrap: nowrap;
		}
	}

	.copyright {
		font-weight: 200;
		font-size: 12px;
		line-height: 1.14;
		color: $link-color;
		text-align: center;

		@media screen and (min-width: 768px) {
			text-align: left;
		}

		@media screen and (min-width: 1024px) {
			font-size: 14px;
			margin-bottom: 0;
			padding-right: 40px;
		}
	}

	.footer-info {
		text-align: center;
		display: flex;
		margin-bottom: 40px;
		flex-direction: column-reverse;
		align-items: center;

		@media screen and (min-width: 768px) {
			align-items: center;
			flex-direction: row;
		}

		@media screen and (min-width: 1024px) {
			margin-bottom: 16px;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 60px;
			align-items: center;
			order: 2;
		}
	}

	.footer-instruction {
		padding: 20px 0;
		background-color: $bottom-bg;

		@media screen and (min-width: 1024px) {
			padding: 30px 0;
		}
	}

	.instruction {
		font-weight: 500;
		font-size: 15px;
		color: $link-color;
		line-height: 1.4;
		text-align: center;

		@media screen and (min-width: 1024px) {
			font-size: 17px;
			letter-spacing: 3px;
		}

		@media screen and (min-width: 1360px) {
			font-size: 21px;
		}

		a {
			display: block;
			font-size: 38px;
			color: $link-color;
			border-bottom: 1px solid $text-colorlight;

			@media screen and (min-width: 1024px) {
				font-size: 17px;
				display: inline;
			}

			@media screen and (min-width: 1360px) {
				font-size: 21px;
			}

			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
}