footer.footer
	.container
		.footer-nav
			a(href="#").logo
				img(src="images/footer-rengalin.svg", alt="logo")
			nav.nav
				span.nav__title МЕНЮ
				ul.nav__list
					li.nav__item
						a(href="#").nav__link О препарате
					li.nav__item
						a(href="#").nav__link Инструкция
					li.nav__item
						a(href="#").nav__link О природе кашля кашля
					li.nav__item
						a(href="#").nav__link Статьи
					li.nav__item
						a(href="#").nav__link Специалистом
			nav.nav
				span.nav__title Горячая линия
				ul.nav__list
					li.nav__item
						a(href="tel:+74952761571").nav__link +7 (495) 276-15-71
			nav.nav
				span.nav__download Ссылки на литературу
					.litera
						p 1. Геппе Н.А., Кондюрина Е.Г., Галустян А.Н., Пак Т.Е., Бальцерович Н.Б., Жиглинская О.В., Камаев А.В., Лазарева С.Г., Лалэко С.Л., Мельникова И.М., Михайлова Е.В., Перминова О.А., Сабитов А.У., Спиваковский Ю.М., Шамшева О.В., Черная Н.Л. Новые возможности эффективной терапии кашля при острых респираторных инфекциях у детей. Лечащий врач.2017; 10: 25-33.
						p 2. Геппе Н.А., Кондюрина Е.Г., Пак Т.Е. Современные возможности эффективной терапии кашля при острых респираторных инфекциях у детей. Лечащий врач. 2018; 6: 15-18.
						p 3. Геппе Н.А., Спасский А.А. Результаты всероссийской наблюдательной программы изучения применения Ренгалина в амбулаторном лечении кашля (РЕАЛ). Терапия. 2018; 3(21): 134-143.
						p 4. Хамитов Р.Ф., Илькович М.М., Акопов А.Л., Михайлусова М.П., Петров Д.В., Алпенидзе Д.Н., Шаповалова Ю.С., Козырев О.А., Абраменкова Н.Ю., Шуньков В.Б., Павлыш Е.Ф., Ерофеева С.Б. Результаты многоцентрового рандомизированного двойного слепого плацебо-контролируемого исследования эффективности и безопасности применения Ренгалина для лечения кашля при острой респираторной инф! екциÐ ¸ у взрослых пациентов. Терапия. 2019; 5( 1(27)): 38-53.
						p 5. Акопов А.Л., Александрова Е.Б., Илькович М.М., Петров Д.В., Трофимов В.И. Ренгалин – новый эффективный и безопасный препарат в лечении кашля. Результаты многоцентрового сравнительного рандомизированного клинического исследования у больных с острыми респираторными инфекциями. Антибиотики и химиотерапия. 201! 5; 60(1-2 ): 19-26.
					
			button(type="button").btn.secondary.js-open-modal ЗАДАТЬ ВОПРОС

		.footer-info
			p.copyright © 2020 Все права защищены. ООО НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47, стр. 1 +7 (495) 276-15-71
			a(href="#").footer-logo
				img(src="images/logo2.svg", alt="")
				
	.footer-instruction 
		.container
			p.instruction ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С 
				a(href="#") ИНСТРУКЦИЕЙ

.mask.js-mask
.mask.js-video-mask

.modal.js-modal.js-ask-modal
	.modal__wrap
		.modal__close.js-close-modal
		h3.modal__title Задать вопрос
		form(action="#").main-form
			.main-form__wrap
				.main-form__input-wrap
					.main-form__field
						label(for="#").main-form__label
						input(type="text" required placeholder="Имя").main-form__input
					.main-form__field
						label(for="#").main-form__label
						input(type="email" required placeholder="Электронная почта").main-form__input
				.main-form__field.main-form__field_text
					textarea(name="#" placeholder="Сообщение").main-form__textarea
				.main-form__bottom-wrap
					.main-form__code-wrap
						.main-form__code
							img(src="images/code.png", alt="")
							button(type="button").main-form__refresh Обновить
						.main-form__code-input
							input(type="text" required placeholder="Код с картинки").main-form__input
					button(type="submit").btn.primary.js-valid Отправить

.modal.js-modal
	.modal__wrap
		.modal__close.js-close-modal
		h3.modal__title Cпасибо
		p.modal__text Ваша заявка принята. Наш оператор даст ответ в ближайшее время.
	
.modal.js-accept-modal.js-modal.scroll-wrap
	.modal__wrap
		button(type="button").modal__close.js-close-modal
		h3.modal__accept-title Являетесь ли вы специалистом?
		.modal__nav
			a(href="specialists.html").btn.secondary да
			button(type="button").btn.secondary.js-close-modal нет