.accordion {
    margin: 0 -15px;

    @media screen and (min-width: 768px) {
        margin: 0;
    }

    &__title {
        position: relative;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        color: $black;
        padding: 20px 47px 20px 15px;
        border-bottom: 1px solid rgba(122, 132, 169, .5);
        cursor: pointer;

        @media screen and (min-width: 1024px) {
            padding: 28px 0;
            font-weight: 600;
            font-size: 20px;
        }

        &.active {
            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            width: 18px;
            height: 9px;
            transition: all 0.3s ease;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L10 10L19 1' stroke='%23FF0000' stroke-width='2'/%3E%3C/svg%3E%0A");
        }
    }

    &__descr {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: $text-color;
        margin-bottom: 15px;
        @media screen and (min-width: 768px) {
            font-size: 16px;
            margin-bottom: 30px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__content {
        display: none;
        background: $card-bg;
        box-sizing: border-box;
        padding: 15px;

        @media screen and (min-width: 1024px) {
            padding: 30px;
        }
    }
}