section.section-product
	.container
		h2.section-title Механизм действия препарата Ренгалин
		.product-video.js-video-open
			img(src="images/ba1.png", alt="")
			.video-btn

		.video-modal.js-video-modal
			span.js-video-close.video-close
			video(controls).video.js-video#video-two
				source(src="video/video.webm")