.section-product {
  padding: 40px 0;
  background-color: #F6F7FA;
  @media (min-width: 1024px) {
    padding: 60px 0 83px;
  }

  .section-title {
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;

    @media (min-width: 768px) {
      margin-bottom: 55px;
    }

    @media (min-width: 1024px) {
      font-size: 40px;
    }
  }

  .product-video {
    max-width: 748px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 151, 166, 0.3);

    &:hover {
      .video-btn {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }

    .video-btn {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


.product-video {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    display: block;
  }
}

.overlay-hide {
  opacity: 0;
  transition: all 0.3s ease;
}

.overlay-show {
  opacity: 1;
  transition: all 0.3s ease;
}

.video-btn {
  position: absolute;
  width: 34px;
  height: 34px;
  z-index: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.9999 0C14.3269 0 0 14.3269 0 31.9999C0 49.673 14.3269 63.9999 31.9999 63.9999C49.673 63.9999 63.9999 49.673 63.9999 31.9999C63.9811 14.3348 49.6652 0.0188839 31.9999 0Z' fill='%23FF0000'/%3E%3Cpath d='M45.4768 33.0195C45.2553 33.4639 44.8951 33.8241 44.4506 34.0457V34.057L26.165 43.1999C25.0357 43.7642 23.6629 43.3063 23.0985 42.177C22.9381 41.856 22.8554 41.5016 22.8575 41.1428V22.8571C22.8569 21.5947 23.8797 20.571 25.1421 20.5703C25.4972 20.5702 25.8474 20.6527 26.165 20.8114L44.4506 29.9543C45.5804 30.5173 46.0399 31.8897 45.4768 33.0195Z' fill='white'/%3E%3C/svg%3E%0A");
  transition: all 0.3s ease;

  @media screen and (min-width: 768px) {
    width: 64px;
    height: 64px;
  }
}


.video-section {
  padding: 50px 0;
  background: #9ED1FF;

  @media (min-width: 1024px) {
    padding: 100px 0;
  }

  .product-video {
    &:hover {
      .video-btn {
        transform: scale(1.1);
      }
    }
  }

  .container {
    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
    }
  }

  .video-info {
    position: relative;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
      width: calc(50% - 18px);
      margin-bottom: 0;
    }

    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.33;
      color: #191919;
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      line-height: 1.78;
      color: #191919;
    }

    .video-btn {
      bottom: 20px;
      left: 20px;
    }
  }
}

.video-mask {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  opacity: 0.5;
}

.video-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  z-index: 1002;
  overflow: visible;

  &.active {
    display: block;
  }
}

.video-close {
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: -25px;
  top: -25px;
  z-index: 1002;

  &:before {
    content: "×";
  }
}

video {
  width: 75vw;
  height: auto;
  object-fit: cover;
  display: block;
}