.main-section {
	padding: 0 0 20px;
	position: relative;
	z-index: 1;

	@media screen and (min-width: 1024px) {
		padding: 0 0 20px;
	}

	.btn-wrap {
		a {
			margin-right: 10px;

			@media screen and (min-width: 1024px) {
				margin-right: 30px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.container {
		height: 100%;
		max-width: 1390px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		@media screen and (min-width: 1024px) {
			flex-direction: row-reverse;
		}
	}

	.section-title {
		max-width: 335px;
		margin-bottom: 30px;
		text-align: center;

		@media screen and (min-width: 1024px) {
			margin-bottom: 40px;
			text-align: left;
			max-width: 440px;
			font-size: 35px;
		}

		@media screen and (min-width: 1440px) {
			font-size: 44px;
		}
	}

	.main-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 500px;

		@media screen and (min-width: 1024px) {
			align-items: flex-start;
			position: relative;
			right: -100px;
		}

		@media screen and (min-width: 1440px) {
			right: -150px;
			max-width: 615px;
		}
	}

	.subimg {
		margin-top: 10px;
		width: 100%;
		height: auto;
		display: none;

		@media screen and (min-width: 1024px) {
			display: block;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	.main-img {
		@media screen and (min-width: 1024px) {
			margin: 0 -35px 0 0;
			width: 70%;
		}

		img {
			width: 100%;
			height: auto;
			display: none;

			@media screen and (min-width: 1024px) {
				display: block;
			}
		}

		&__none {
			display: block !important;

			@media screen and (min-width: 1024px) {
				display: none !important;
			}
		}
	}

	.btn {
		padding: 7px 10px;

		@media screen and (min-width: 768px) {
			padding: 12px 10px;
		}
	}

	.quality-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: 100%;
		position: relative;
		z-index: 1;
		margin: 20px 0 0 0;

		@media screen and (min-width: 1024px) {
			display: none;
		}

		.quality-wrap {
			display: flex !important;
			position: relative;
			z-index: 1;
			bottom: auto;
			right: auto;
		}

		.to-bottom {
			display: flex !important;
			position: relative;
			bottom: auto;
			left: 0;

			@media screen and (min-width: 768px) {
				left: -25px;
			}
		}

		.quality {
			width: 40px;
			height: 40px;
			margin: 0 0 0 15px;

			img {
				width: 100%;
				height: 100%;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.active {
				.quality-open {
					z-index: 1;
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.quality-open {
			left: auto;
			width: 200px;
			padding: 20px 0;
			top: auto;
			right: -15px;
			transform: translateY(0);
			bottom: 60px;

			&:before {
				right: 16px;
				top: auto;
				bottom: -35px;
				transform: translateY(0) rotate(90deg);
			}
		}

		.award__descr {
			font-size: 12px;
		}
	}
}