section.main-section
	.container
		.main-img
			img(src="images/main-bg.svg", alt="")
			img(src="images/main-bg2.svg", alt="").main-img__none
		.main-info
			h2.section-title И сухой, и влажный кашель с Реналгином нам не страшен!
			.btn-wrap
				a(href="#").btn.primary о препарате
				button(type="button").btn.primary.test-btn пройти тест
			.subimg
				img(src="images/pack1.png", alt="")

		.quality-content
			button(type="button").to-bottom.scroll-link-mob
				span Скрольте вниз
				img(src="images/tobottom.svg", alt="")
			.quality-wrap
				.quality.js-quality
					img(src="images/quality3.svg", alt="")
					.quality-open
						.award
							.award__img
									img(src="images/quality3.svg", alt="")
							p.award__descr Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"
				.quality.js-quality
					img(src="images/quality1.svg", alt="")
					.quality-open
						.award
							.award__img
								img(src="images/quality1.svg", alt="")
							p.award__descr Препарат выбора для лечения простуды и гриппа по версии премии "Зеленый крест — 2019"
				.quality.js-quality
					img(src="images/quality2.svg", alt="")
					.quality-open
						.award
							.award__img
									img(src="images/quality2.svg", alt="")
							p.award__descr Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"
			