.none-section {
  padding: 60px 0;
  @media screen and (min-width: 768px) {
    padding: 80px 0;
  }
  @media screen and (min-width: 1024px) {
    padding: 100px 0 115px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    margin-bottom: 60px;
  }

  .error-img {
    max-width: 620px;
    width: 100%;
    height: auto;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .error-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: $link-color;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
}
