.article-open-section {
    padding: 60px 0 70px;
    // border-bottom: 1px solid $link-color;
    @media screen and (min-width: 768px) {
        padding: 80px 0 45px;
    }

    .tabs {
        margin-top: 100px;
    }

    .tab-title {
        margin-bottom: 60px;
    }

    .section-title {
        margin-bottom: 40px;
        @media screen and (min-width: 768px) {
            margin-bottom: 60px;
        }
    }

    .article {
        width: 100%;
        min-height: auto;
        padding: 0;
        margin: 0;

        &__img {
            height: auto;
            filter: grayscale(0);
            margin: 0 -15px 40px;
            @media screen and (min-width: 768px) {
                margin: 0 0 60px;
            }
            @media screen and (min-width: 1024px) {
                margin: 0 0 80px;
            }
        }

        &__info {
            padding: 0;
            max-width: 940px;
            width: 100%;
            margin: 0 auto;
        }

        
    }
}
