.nature-section,
.about-company-section,
.about-preparat-section {
	.section-title {
		margin-bottom: 20px;

		@media screen and (min-width: 768px) {
			margin-bottom: 30px;
		}
	}

	.section-descr {
		margin-bottom: 30px;

		@media screen and (min-width: 768px) {
			margin-bottom: 40px;
		}
	}

	.description-content {
		display: flex;
		flex-direction: column;

		@media screen and (min-width: 1024px) {
			flex-direction: row;
			align-items: flex-start;
		}
	}

	.description-info {
		max-width: 747px;
		width: 100%;
		margin-bottom: 50px;

		@media screen and (min-width: 1024px) {
			margin: 0 35px 0 0;
		}
	}

	.description-img {
		max-width: 355px;
		width: 100%;
		height: auto;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.award-wrap {
		display: flex;
		margin: 0 -10px;

		@media screen and (min-width: 1024px) {
			flex-direction: column;
		}
	}

	.award {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 40px;
		padding: 0 10px;

		@media screen and (min-width: 1024px) {
			max-width: 355px;
			width: 100%;
		}

		&__img {
			width: 135px;
			display: flex;
			align-items: flex-end;
			margin: 0 0 20px;
			min-height: 225px;

			img {
				width: 100%;
				height: auto;
			}
		}

		&__info {
			font-size: 14px;
			line-height: 143%;
			text-align: center;
			color: $text-color;
		}
	}
}

.decree-wrap {
	@media screen and (min-width: 1024px) {
		margin-top: 60px;
	}
}

.decree {
	font-size: 12px;
	text-align: center;
	color: $link-color;
	margin-bottom: 15px;
	line-height: 150%;

	@media screen and (min-width: 768px) {
		font-size: 14px;
		margin-bottom: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.about-company-section {
	padding: 30px 0;

	@media screen and (min-width: 768px) {
		padding: 60px 0;
	}

	@media screen and (min-width: 1024px) {
		padding: 80px 0;
	}

	@media screen and (min-width: 1440px) {
		padding: 140px 0 100px;
	}
}

.about-preparat-section {
	padding: 60px 0 25px;

	@media screen and (min-width: 1024px) {
		padding: 80px 0 100px;
	}

	.btn {
		padding: 7px 10px;

		@media screen and (min-width: 768px) {
			padding: 12px 10px;
		}
	}

	.advantages-wrap {
		margin-top: 60px;

		@media screen and (min-width: 768px) {
			margin-top: 95px;
		}
	}

	.description-content {
		display: flex;
		flex-direction: column-reverse;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			align-items: center;
		}
	}

	.description-img {
		margin-bottom: 30px;
		max-width: 100%;

		@media screen and (min-width: 768px) {
			width: 50%;
			flex: none;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.description-info {
		margin-bottom: 0;

		@media screen and (min-width: 768px) {
			width: 50%;
			flex: none;
		}
	}
}

.testimony-section {
	padding: 30px 0;
	background-color: #9ed1ff;

	@media screen and (min-width: 768px) {
		padding: 60px 0;
	}

	@media screen and (min-width: 1024px) {
		padding: 80px 0;
	}

	@media screen and (min-width: 1440px) {
		padding: 100px 0;
	}

	.advantages-wrap {
		justify-content: center;
	}

	.section-title {
		text-align: center;
		margin-bottom: 50px;

		@media screen and (min-width: 1024px) {
			margin-bottom: 70px;
		}
	}
}

.awards-section {
	padding: 30px 0;
	background-color: $footer-bg;

	@media screen and (min-width: 768px) {
		padding: 60px 0;
	}

	@media screen and (min-width: 1024px) {
		padding: 80px 0;
	}

	@media screen and (min-width: 1440px) {
		padding: 100px 0 80px;
	}

	.section-title {
		text-align: center;
		margin-bottom: 75px;
	}
}

.results-section {
	padding: 30px 0;

	@media screen and (min-width: 768px) {
		padding: 50px 0;
	}

	@media screen and (min-width: 1024px) {
		padding: 100px 0;
	}

	.section-title {
		text-align: center;
		margin-bottom: 35px;

		@media screen and (min-width: 768px) {
			margin-bottom: 65px;
		}
	}
}

.materials-section {
	padding: 30px 0;
	background-color: $footer-bg;

	@media screen and (min-width: 768px) {
		padding: 50px 0;
	}

	@media screen and (min-width: 1024px) {
		padding: 100px 0;
	}

	.section-title {
		text-align: center;
		margin-bottom: 30px;

		@media screen and (min-width: 768px) {
			margin-bottom: 65px;
		}
	}
}

.materials-article-section {
	padding: 100px 0;

	.section-title {
		margin-bottom: 60px;
	}

	.material__wrap {
		border: none;
	}
}

.example {
	a {
		text-decoration: underline;
		font-size: 18px;
		color: $text-color;
	}
}
