section.action-section
	.container
		h2.section-title Принцип действия
		.action-wrap
			.action
				.action__wrap
					h3.action__title Усиление выработки 
						br
						| и активация интерферонов
					.action__img
						img(src="images/action-img1.svg", alt="")
					ul.action__list
						li Остановка размножения вирусов
						li Активация синтеза противовирусных белков
						li Защита от заражения здоровых клеток
			.action
				.action__wrap
					h3.action__title Активация
						br
						| иммунитета
					.action__img
						img(src="images/action-img2.svg", alt="")
					ul.action__list
						li Препятствие распространению вирусов и бактерий в дыхательных путях
						li Улучшение распознавания вирусов и бактерий
						li Активация  удаления вирусов и бактерий из организма
						li Регуляция работы клеток иммунной системы
			.action
				.action__wrap
					h3.action__title Уменьшение 
						br
						| воспаления и отека
					.action__img
						img(src="images/action-img3.svg", alt="")
					ul.action__list
						li Нормализация уровня  цитокинов, вызывающих температуру и отек
						li Устранение аллергического компонента инфекции