.form-section {
    padding: 60px 0 80px;
    background-color: $footer-bg;

    @media screen and (min-width: 1024px) {
        padding: 100px 0 85px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 60px;
    }

    .form-wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    .form-drug {
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 50%;
            padding: 0 20px;
        }
    }

    .form-img {
        width: auto;
        display: flex;
        align-items: flex-end;
        margin-bottom: 40px;

        @media screen and (min-width: 768px) {
            min-height: 324px;
        }

        img {
            width: 100%;
        }
    }

    .form-info {
        font-size: 16px;
        line-height: 187%;
        text-align: center;
        color: $text-color;
    }
}