.microphone-section {
    overflow: hidden;
}

.test-container {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;

    @media screen and (min-width: 1024px) {
        height: 800px;
    }

    .swiper-pagination {
        bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        background-color: $white;
        margin: 0 12px !important;
        transition: all 0.3s ease;
        flex: none;
        cursor: default;

        &-active {
            width: 16px;
            height: 16px;
        }
    }
}

.microphone {
    display: none;
    padding: 60px 0;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    // transition: all 0.3s ease;
    width: 100%;
    z-index: 3;

    // z-index: 2;
    @media screen and (min-width: 1024px) {
        padding: 100px 0;
    }

    &._opened {
        opacity: 1;
        display: block;
        // transition: opacity 0.35s ease-out;
    }

    .skip {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
        color: $text-color;
        text-decoration: underline;
        font-weight: 700;
        font-size: 12px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }

        @media screen and (min-width: 1440px) {
            font-size: 20px;
        }
    }

    .btn {
        padding: 12px 10px;
        white-space: nowrap;
        display: block;
        margin: 0 auto 10px;

        &:hover {
            color: #FFFFFF;
        }
    }

    &__nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 135px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.row {
            flex-direction: row;
            align-items: center;
            bottom: 160px;

            .btn {
                margin: 0 10px;
                width: 150px;
                color: #ffffff;

                @media screen and (min-width: 768px) {
                    width: 200px;
                }
            }
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: auto;

        @media screen and (min-width: 1024px) {
            width: 270px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        color: $white;
        margin-bottom: 20px;
        z-index: 5;

        @media screen and (min-width: 1024px) {
            font-size: 36px;
            margin-bottom: 35px;
        }
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: $white;
        z-index: 5;

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }
}

.abs-decor {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}

.audioparser,
canvas {
    height: 100%;
}

.audioparser {
    z-index: 2;
    position: relative;
}

.question {
    display: none;
    padding: 0 15px;

    &.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: visible;
        opacity: 1;
    }

    &__wrap {
        background: #ffffff;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 15px;
        margin: 0 auto 50px;
        position: relative;
        max-width: 552px;
        width: 100%;

        @media screen and (min-width: 768px) {
            padding: 54px 30px;
            width: 552px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: $white;
        margin-bottom: 56px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }

        &.result {
            max-width: 500px;
            width: 100%;
            margin: 0 auto;
        }

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }

    input {
        overflow: hidden;
        height: 0;
        width: 0;
        position: absolute;
    }

    label {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        color: #7a84a9;
        position: relative;
        padding-left: 40px;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 2px solid #7a84a9;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 6px;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ff0000;
            opacity: 0;
            transition: all 0.3s ease;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    input[type='radio']:checked+label {
        &:after {
            opacity: 1;
        }
    }
}

.circle-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    &.first {

        width: 190px;
        height: 190px;
        background-color: rgba(251, 176, 80, 1);
        z-index: 4;

        @media screen and (min-width: 1024px) {
            width: 300px;
            height: 300px;
        }
    }

    &.second {
        width: 220px;
        height: 220px;
        background-color: rgba(251, 176, 80, .4);
        z-index: 3;

        @media screen and (min-width: 1024px) {
            width: 360px;
            height: 360px;
        }
    }

    &.third {
        width: 250px;
        height: 250px;
        background-color: rgba(251, 176, 80, .3);
        z-index: 2;

        @media screen and (min-width: 1024px) {
            width: 420px;
            height: 420px;
        }
    }

    &.fourth {

        width: 280px;
        height: 280px;
        background-color: rgba(251, 176, 80, .2);
        z-index: 1;

        @media screen and (min-width: 1360px) {
            width: 480px;
            height: 480px;
        }
    }
}

.restart-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #FFFFFF;
    padding-right: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 120px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: #FF0000;

        &:after {
            transform: translateY(-50%) rotate(90deg);
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url('../images/restart.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 0.3s ease;
    }
}

.abs-img {
    position: absolute;
    top: 50%;

    &.one {
        left: 3%;
        transform: translateY(-100%);

        @media screen and (min-width: 768px) {
            left: 11%;
        }
    }

    &.two {
        left: 22%;
        transform: translateY(-100%);
    }

    &.three {
        right: 15%;
        transform: translateY(-100%);
    }

    &.bear {
        left: 11%;
        transform: translateY(-50%);
    }

    &.keds {
        left: 22%;
        transform: translateY(-15px);
    }

    &.robot {
        right: 15%;
        transform: translateY(-50%);
    }
}

.result-img {
    max-width: 400px;
    width: 100%;
    display: block;
    margin: 0 auto 20px;
    position: relative;
    right: -50px;
    z-index: 1;

    @media screen and (min-width: 768px) {
        margin: 20px auto 20px;
    }
    @media screen and (min-width: 1360px) {
        margin: 50px auto 20px;
    }
}

.circleFill {
    position: relative;
    z-index: 1;
    stroke-dasharray: 160;
    stroke-dashoffset: 160;
    // transition: all 5s;
    transform: rotate(-90deg) translate(-60px, 0px);

    &.filled {
        stroke-dashoffset: 0;
    }
}

.circleTrack {
    z-index: 0;
}