section.microphone-section#test-section
	.test-container(style="background-image: url('images/m.jpg')")
		img(src="images/clouds.svg", alt="").abs-decor

		.circle-wrap
			.circle.first
			.circle.second
			.circle.third
			.circle.fourth

		#audioparser.audioparser
		
		.microphone._opened
			.microphone__wrap
				.microphone__head
					h2 Тест на тип кашля
					p Пройдите тест для определения 
						br
						| типа вашего кашля
				.microphone__footer
					.microphone__img
						img(src="images/mircophone.svg", alt="")
				.microphone__nav
					button(type="button").btn.primary.js-next#start начать
					button(type="button").btn.primary#slide3 Пропустить аудиотест
			img(src="images/bird1.png", alt="").abs-img.one
			img(src="images/bird2.png", alt="").abs-img.two
			img(src="images/bird3.png", alt="").abs-img.three

		.microphone
			.microphone__wrap
				.microphone__head
					h2 Тест на тип кашля
					p Пожалуйста, покашляйте в микрофон 
						br
						| своего устройства
				.microphone__footer
					.microphone__img
						img(src="images/mircophone.svg", alt="")
				.microphone__nav
					button(type="button").record-btn.js-next
						svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
							circle(cx="30" cy="30" r="30" fill="white")
							circle(opacity="0.8" cx="30" cy="30" r="25" stroke="#7A84A9" stroke-width="4").circleFill
							circle(opacity="0.5" cx="30" cy="30" r="25" stroke="#E4E6EE" stroke-width="4").circleTrack
							rect(x="20" y="20" width="20" height="20" rx="6" fill="#FF0000")

			img(src="images/bird1.png", alt="").abs-img.one
			img(src="images/bird2.png", alt="").abs-img.two
			img(src="images/bird3.png", alt="").abs-img.three

		.microphone
			.microphone__wrap
				.microphone__head
					h2 Вопрос 
						span.js-question-slide 1 
						| / 
						span.js-question-count 5
				.question.js-question-start
					p.question__text На какой день простуды у Вас (ребенка) появился кашель?
					.question__wrap
						input(data-question-name="whatDay" data-question-value="1-3" type="radio" id="q1" name="q")
						label(for="q1") На 1-3 день
						input(data-question-name="whatDay" data-question-value="after3" type="radio" id="q2" name="q")
						label(for="q2") На 3 день и позже
					button(type="button").btn.primary.js-btn-question Дaлее
				.question.js-question-start
					p.question__text Как долго с начала заболевания Вас (ребенка) мучает кашель?
					.question__wrap
						input(data-question-name="howLong" data-question-value="1-3" type="radio" id="q12" name="q")
						label(for="q12") 1-3 дня
						input(data-question-name="howLong" data-question-value="3-5" type="radio" id="q3" name="q")
						label(for="q3") 3-5 дней
						input(data-question-name="howLong" data-question-value="after5" type="radio" id="q4" name="q")
						label(for="q4") более 5 дней
					button(type="button").btn.primary.js-btn-question Дaлее
				.question.js-question-start(data-pain='block')
					p.question__text Испытываете ли Вы болевые ощущения во время кашля?
					.question__wrap
						input(data-question-name="pain" data-question-value="pain-yes" type="radio" id="q5" name="q" data-pain='yes')
						label(for="q5") Да
						input(data-question-name="pain" data-question-value="pain-no" type="radio" id="q6" name="q" data-pain='no')
						label(for="q6") Нет
					button(type="button").btn.primary.js-btn-question Дaлее
				.question.js-question-start(data-pain='yes' data-last='last')
					p.question__text Носит ли кашель приступообразный характер?
					.question__wrap
						input(data-question-name="character" data-question-value="character-yes" type="radio" id="q7" name="q" data-last='dry')
						label(for="q7") Да
						input(data-question-name="character" data-question-value="character-no" type="radio" id="q8" name="q" data-last='dry')
						label(for="q8") Нет
					button(type="button").btn.primary.js-btn-question Дaлее
				.question.js-question-start(data-pain='no' data-last='last')
					p.question__text Происходит ли в результате кашля отделение мокроты?
					.question__wrap
						input(data-question-name="phlegm" data-question-value="phlegm-yes" type="radio" id="q9" name="q" data-last='wet')
						label(for="q9") Да
						input(data-question-name="phlegm" data-question-value="phlegm-no" type="radio" id="q10" name="q" data-last='dry')
						label(for="q10") Нет
						input(data-question-name="phlegm" data-question-value="phlegm-difficult" type="radio" id="q11" name="q" data-last='doctor')
						label(for="q11") Затрудняюсь ответить
					button(type="button").btn.primary.js-btn-question Дaлее
		.microphone
			.microphone__wrap
				.microphone__head
					h2 Результат теста
				.question.js-question-end.open(data-cough='doctor')
					p.question__text.result Рекомендуем обратиться к врачу. А пока, Вы можете принять Ренгалин – для лечения сухого и влажного кашля
				.question.js-question-end(data-cough='dry')
					p.question__text.result Предположительно – это сухой кашель
				.question.js-question-end(data-cough='wet')
					p.question__text.result Предположительно – это влажный кашель
				img(src="images/pack1.png", alt="").result-img
				.microphone__nav.row
					a(href="#").btn.primary Купить
					a(href="#").btn.secondary о препарате
				button(type="button").restart-btn.js-prev Пройти тест заново